In [5]:
import pandas as pd
import numpy as np
%matplotlib inline

In [8]:
df = pd.read_csv('datasheet/forex-sci.csv')
df[:20]

       PAIR       DATE    OPEN    HIGH     LOW   CLOSE
0   ^EURUSD   4/2/2008  1.4800  1.4849  1.4792  1.4830
1   ^EURUSD   5/2/2008  1.4829  1.4832  1.4620  1.4648
2   ^EURUSD   6/2/2008  1.4649  1.4672  1.4588  1.4632
3   ^EURUSD   7/2/2008  1.4632  1.4652  1.4438  1.4484
4   ^EURUSD   8/2/2008  1.4489  1.4548  1.4449  1.4506
5   ^EURUSD  11/2/2008  1.4505  1.4578  1.4480  1.4520
6   ^EURUSD  12/2/2008  1.4519  1.4615  1.4495  1.4583
7   ^EURUSD  13/2/2008  1.4583  1.4599  1.4530  1.4575
8   ^EURUSD  14/2/2008  1.4575  1.4648  1.4547  1.4642
9   ^EURUSD  15/2/2008  1.4641  1.4709  1.4623  1.4682
10  ^EURUSD  18/2/2008  1.4680  1.4690  1.4609  1.4655
11  ^EURUSD  19/2/2008  1.4660  1.4757  1.4639  1.4727
12  ^EURUSD  20/2/2008  1.4727  1.4739  1.4612  1.4714
13  ^EURUSD  21/2/2008  1.4715  1.4837  1.4700  1.4814
14  ^EURUSD  22/2/2008  1.4812  1.4863  1.4787  1.4829
15  ^EURUSD  25/2/2008  1.4827  1.4845  1.4792  1.4830
16  ^EURUSD  26/2/2008  1.4830  1.4984  1.4773  1.4974
17  ^EURUSD  27/2/2008  1.4979  1.5144  1.4979  1.5123
18  ^EURUSD  28/2/2008  1.5119  1.5226  1.5070  1.5198
19  ^EURUSD  29/2/2008  1.5194  1.5240  1.5142  1.5180

In [ ]:
df.hist()