In [59]:
import pandas as pd

In [60]:
df = pd.read_csv('datasheet/forex-sci.csv')
df

        PAIR       DATE     OPEN    HIGH     LOW    CLOSE
0    ^EURUSD   4/2/2008  1.48000  1.4849  1.4792  1.48300
1    ^EURUSD   5/2/2008  1.48290  1.4832  1.4620  1.46480
2    ^EURUSD   6/2/2008  1.46490  1.4672  1.4588  1.46320
3    ^EURUSD   7/2/2008  1.46320  1.4652  1.4438  1.44840
4    ^EURUSD   8/2/2008  1.44890  1.4548  1.4449  1.45060
5    ^EURUSD  11/2/2008  1.45050  1.4578  1.4480  1.45200
6    ^EURUSD  12/2/2008  1.45190  1.4615  1.4495  1.45830
7    ^EURUSD  13/2/2008  1.45830  1.4599  1.4530  1.45750
8    ^EURUSD  14/2/2008  1.45750  1.4648  1.4547  1.46420
9    ^EURUSD  15/2/2008  1.46410  1.4709  1.4623  1.46820
10   ^EURUSD  18/2/2008  1.46800  1.4690  1.4609  1.46550
11   ^EURUSD  19/2/2008  1.46600  1.4757  1.4639  1.47270
12   ^EURUSD  20/2/2008  1.47270  1.4739  1.4612  1.47140
13   ^EURUSD  21/2/2008  1.47150  1.4837  1.4700  1.48140
14   ^EURUSD  22/2/2008  1.48120  1.4863  1.4787  1.48290
15   ^EURUSD  25/2/2008  1.48270  1.4845  1.4792  1.48300
16   ^EURUSD  26/2/2008  1.48300  1.4984  1.4773  1.49740
17   ^EURUSD  27/2/2008  1.49790  1.5144  1.4979  1.51230
18   ^EURUSD  28/2/2008  1.51190  1.5226  1.5070  1.51980
19   ^EURUSD  29/2/2008  1.51940  1.5240  1.5142  1.51800
20   ^EURUSD   3/3/2008  1.51810  1.5275  1.5156  1.52050
21   ^EURUSD   4/3/2008  1.52030  1.5249  1.5171  1.52170
22   ^EURUSD   5/3/2008  1.52150  1.5302  1.5144  1.52650
23   ^EURUSD   6/3/2008  1.52640  1.5393  1.5264  1.53830
24   ^EURUSD   7/3/2008  1.53790  1.5464  1.5312  1.53560
25   ^EURUSD  10/3/2008  1.53580  1.5401  1.5311  1.53440
26   ^EURUSD  11/3/2008  1.53430  1.5495  1.5281  1.53370
27   ^EURUSD  12/3/2008  1.53390  1.5566  1.5335  1.55490
28   ^EURUSD  13/3/2008  1.55500  1.5638  1.5521  1.56330
29   ^EURUSD  14/3/2008  1.56370  1.5689  1.5530  1.56720
..       ...        ...      ...     ...     ...      ...
243  ^EURUSD  12/1/2009  1.34450  1.3445  1.3286  1.33640
244  ^EURUSD  13/1/2009  1.33570  1.3357  1.3149  1.31854
245  ^EURUSD  14/1/2009  1.31827  1.3338  1.3090  1.31920
246  ^EURUSD  15/1/2009  1.31870  1.3242  1.3024  1.31248
247  ^EURUSD  16/1/2009  1.31420  1.3343  1.3142  1.32700
248  ^EURUSD  19/1/2009  1.32590  1.3383  1.3070  1.30700
249  ^EURUSD  20/1/2009  1.30732  1.3101  1.2861  1.29090
250  ^EURUSD  21/1/2009  1.29060  1.3078  1.2836  1.30297
251  ^EURUSD  22/1/2009  1.30220  1.3083  1.2907  1.30040
252  ^EURUSD  23/1/2009  1.30031  1.3022  1.2763  1.29700
253  ^EURUSD  27/1/2009  1.31820  1.3330  1.3117  1.31616
254  ^EURUSD  28/1/2009  1.31617  1.3327  1.3107  1.31650
255  ^EURUSD  29/1/2009  1.31640  1.3290  1.2938  1.29540
256  ^EURUSD  30/1/2009  1.29420  1.2942  1.2771  1.28150
257  ^EURUSD   2/2/2009  1.28150  1.2895  1.2704  1.28440
258  ^EURUSD   3/2/2009  1.28430  1.3056  1.2798  1.30370
259  ^EURUSD   4/2/2009  1.30390  1.3071  1.2811  1.28490
260  ^EURUSD   5/2/2009  1.28540  1.2905  1.2766  1.27900
261  ^EURUSD   6/2/2009  1.27930  1.2990  1.2744  1.29390
262  ^EURUSD   9/2/2009  1.29420  1.3094  1.2870  1.30040
263  ^EURUSD  10/2/2009  1.30070  1.3076  1.2808  1.29130
264  ^EURUSD  11/2/2009  1.29090  1.2998  1.2830  1.29060
265  ^EURUSD  12/2/2009  1.29090  1.2944  1.2718  1.28633
266  ^EURUSD  13/2/2009  1.28650  1.2943  1.2814  1.28630
267  ^EURUSD  16/2/2009  1.28260  1.2826  1.2725  1.28080
268  ^EURUSD  17/2/2009  1.27930  1.2793  1.2560  1.25820
269  ^EURUSD  18/2/2009  1.25840  1.2640  1.2510  1.25300
270  ^EURUSD  19/2/2009  1.25550  1.2760  1.2555  1.26730
271  ^EURUSD  20/2/2009  1.26720  1.2876  1.2554  1.28270
272  ^EURUSD  23/2/2009  1.28110  1.2992  1.2680  1.26940

[273 rows x 6 columns]

In [61]:
df['CLOSE_USD_BAHT'] = df['CLOSE']*0.031
df.head()

      PAIR      DATE    OPEN    HIGH     LOW   CLOSE  CLOSE_USD_BAHT
0  ^EURUSD  4/2/2008  1.4800  1.4849  1.4792  1.4830        0.045973
1  ^EURUSD  5/2/2008  1.4829  1.4832  1.4620  1.4648        0.045409
2  ^EURUSD  6/2/2008  1.4649  1.4672  1.4588  1.4632        0.045359
3  ^EURUSD  7/2/2008  1.4632  1.4652  1.4438  1.4484        0.044900
4  ^EURUSD  8/2/2008  1.4489  1.4548  1.4449  1.4506        0.044969

In [62]:
df['CLOSE_USD_BAHT'] = df['CLOSE_USD_BAHT'].round(4)
df.head()

      PAIR      DATE    OPEN    HIGH     LOW   CLOSE  CLOSE_USD_BAHT
0  ^EURUSD  4/2/2008  1.4800  1.4849  1.4792  1.4830          0.0460
1  ^EURUSD  5/2/2008  1.4829  1.4832  1.4620  1.4648          0.0454
2  ^EURUSD  6/2/2008  1.4649  1.4672  1.4588  1.4632          0.0454
3  ^EURUSD  7/2/2008  1.4632  1.4652  1.4438  1.4484          0.0449
4  ^EURUSD  8/2/2008  1.4489  1.4548  1.4449  1.4506          0.0450

In [71]:
df['tran_PAIR'] = df.PAIR.str[1:7] 
df.head()

      PAIR      DATE    OPEN    HIGH     LOW   CLOSE  CLOSE_USD_BAHT tran_PAIR
0  ^EURUSD  4/2/2008  1.4800  1.4849  1.4792  1.4830          0.0460    EURUSD
1  ^EURUSD  5/2/2008  1.4829  1.4832  1.4620  1.4648          0.0454    EURUSD
2  ^EURUSD  6/2/2008  1.4649  1.4672  1.4588  1.4632          0.0454    EURUSD
3  ^EURUSD  7/2/2008  1.4632  1.4652  1.4438  1.4484          0.0449    EURUSD
4  ^EURUSD  8/2/2008  1.4489  1.4548  1.4449  1.4506          0.0450    EURUSD

In [72]:
df.LOW.mean()

1.4403095970695965

In [73]:
df.describe()

             OPEN        HIGH         LOW       CLOSE  CLOSE_USD_BAHT
count  273.000000  273.000000  273.000000  273.000000      273.000000
mean     1.450461    1.459627    1.440310    1.449654        0.044938
std      0.115037    0.112794    0.117437    0.115626        0.003586
min      1.245300    1.259000    1.232700    1.245400        0.038600
25%      1.340800    1.344500    1.327600    1.336400        0.041400
50%      1.471500    1.479200    1.463500    1.471000        0.045600
75%      1.557700    1.564300    1.550200    1.558000        0.048300
max      1.599100    1.603800    1.586600    1.599000        0.049600