In [24]:
import pandas as pd

In [25]:
print(pd.__version__)

0.23.0

In [28]:
df=pd.read_csv('datasheet/regional-global-daily-latest.csv')
df.head()

,Position,Track Name,Artist,Streams,URL
0,1,Better Now,Post Malone,4126025,https://open.spotify.com/track/7dt6x5M1jzdTEt8...
1,2,All Mine,Kanye West,4059684,https://open.spotify.com/track/3qnoOm4fwZPBS11...
2,3,One Kiss (with Dua Lipa),Calvin Harris,3874499,https://open.spotify.com/track/7ef4DlsgrMEH11c...
3,4,Ghost Town,Kanye West,3401746,https://open.spotify.com/track/6Bg7MznA9X0dIhl...
4,5,Yikes,Kanye West,3230986,https://open.spotify.com/track/2r4JRwcbIeuAzWj...

# Read from dropbox

In [29]:
df=pd.read_csv('https://www.dropbox.com/s/wc6sp4gryezgx1j/exercise.csv?dl=1')   #เปลี่ยนจาก 0 เป็น 1
df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest