In [1]:
import pandas as pd

7. Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

In [9]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
df = pd.read_csv(url,names= ['sepal_length','sepal_width','petal_length','petal_width','specie'])
df.sample(20)

     sepal_length  sepal_width  petal_length  petal_width           specie
85            6.0          3.4           4.5          1.6  Iris-versicolor
70            5.9          3.2           4.8          1.8  Iris-versicolor
64            5.6          2.9           3.6          1.3  Iris-versicolor
11            4.8          3.4           1.6          0.2      Iris-setosa
136           6.3          3.4           5.6          2.4   Iris-virginica
63            6.1          2.9           4.7          1.4  Iris-versicolor
65            6.7          3.1           4.4          1.4  Iris-versicolor
87            6.3          2.3           4.4          1.3  Iris-versicolor
3             4.6          3.1           1.5          0.2      Iris-setosa
51            6.4          3.2           4.5          1.5  Iris-versicolor
68            6.2          2.2           4.5          1.5  Iris-versicolor
24            4.8          3.4           1.9          0.2      Iris-setosa
41            4.5          2.3           1.3          0.3      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
28            5.2          3.4           1.4          0.2      Iris-setosa
16            5.4          3.9           1.3          0.4      Iris-setosa
104           6.5          3.0           5.8          2.2   Iris-virginica
62            6.0          2.2           4.0          1.0  Iris-versicolor
107           7.3          2.9           6.3          1.8   Iris-virginica
80            5.5          2.4           3.8          1.1  Iris-versicolor

In [11]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5

# housing data

    1. CRIM      per capita crime rate by town
    2. ZN        proportion of residential land zoned for lots over 
                 25,000 sq.ft.
    3. INDUS     proportion of non-retail business acres per town
    4. CHAS      Charles River dummy variable (= 1 if tract bounds 
                 river; 0 otherwise)
    5. NOX       nitric oxides concentration (parts per 10 million)
    6. RM        average number of rooms per dwelling
    7. AGE       proportion of owner-occupied units built prior to 1940
    8. DIS       weighted distances to five Boston employment centres
    9. RAD       index of accessibility to radial highways
    10. TAX      full-value property-tax rate per $10,000  
    11. PTRATIO  pupil-teacher ratio by town
    12. B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks 
                 by town
    13. LSTAT    % lower status of the population
    14. MEDV     Median value of owner-occupied homes in $1000's

In [20]:
url ='https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df = pd.read_csv(url, sep='\s+', names =['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM',                         #\s = white space
                                         'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV'])   
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2