url : https://iapi.bot.or.th/Developer?lang=en

In [60]:
import requests

In [61]:
url = \
    'https://iapi.bot.or.th/Stat/Stat-ExchangeRate/MONTHLY_AVG_EXG_RATE_V1/'
querystring = {'start_period': '2002-01', 'end_period': '2002-02',
               'currency': 'USD'}
headers = {'api-key': 'U9G1L457H6DCugT7VmBaEacbHV9RX0PySO05cYaGsm'}
response = requests.request('GET', url, headers=headers,
                            params=querystring)

In [62]:
response.text

'{"result":{"success":"true","api":"Monthly Average Exchange Rate - THB / Foreign Currency","timestamp":"2018-06-14 14:23:58","data":{"data_header":{"report_name_eng":"Rates of Exchange of Commercial Banks in Bangkok Metropolis (2002-present)","report_name_th":"อัตราแลกเปลี่ยนเฉลี่ยของธนาคารพาณิชย์ในกรุงเทพมหานคร (2545-ปัจจุบัน)","report_uoq_name_eng":"(Unit : Baht / 1 Unit of Foreign Currency)","report_uoq_name_th":"(หน่วย : บาท ต่อ 1 หน่วยเงินตราต่างประเทศ)","report_source_of_data":[{"source_of_data_eng":"Bank of Thailand","source_of_data_th":"ธนาคารแห่งประเทศไทย"}],"report_remark":[{"report_remark_eng":"Since Nov 16, 2015 the data regarding Buying Transfer Rate of PKR has been changed to Buying Rate using Foreign Exchange Rates (THOMSON REUTERS) with Bangkok Market Crossing.","report_remark_th":"ตั้งแต่วันที่ 16 พ.ย. 2558 ข้อมูลในอัตราซื้อเงินโอนของสกุล PKR ได้เปลี่ยนเป็นอัตราซื้อที่ใช้อัตราในตลาดต่างประเทศ (ทอมสันรอยเตอร์) คำนวณผ่านอัตราซื้อขายเงินดอลลาร์ สรอ. ในตลาดกรุงเทพฯ"}],"last_updated":"2018-06-13"},"data_detail":[{"period":"2002-02","currency_id":"USD","currency_name_th":"สหรัฐอเมริกา : ดอลลาร์ (USD)","currency_name_eng":"USA : DOLLAR (USD) ","buying_sight":"43.6288000","buying_transfer":"43.7256000","selling":"43.9254000","mid_rate":"43.7771000"},{"period":"2002-01","currency_id":"USD","currency_name_th":"สหรัฐอเมริกา : ดอลลาร์ (USD)","currency_name_eng":"USA : DOLLAR (USD) ","buying_sight":"43.8354000","buying_transfer":"43.9321000","selling":"44.1279000","mid_rate":"43.9817000"}]}}}'

In [63]:
import pandas as pd

In [64]:
j = pd.io.json.loads(response.text)
print(type(j))
j

<class 'dict'>

{'result': {'success': 'true',
  'api': 'Monthly Average Exchange Rate - THB / Foreign Currency',
  'timestamp': '2018-06-14 14:23:58',
  'data': {'data_header': {'report_name_eng': 'Rates of Exchange of Commercial Banks in Bangkok Metropolis (2002-present)',
    'report_name_th': 'อัตราแลกเปลี่ยนเฉลี่ยของธนาคารพาณิชย์ในกรุงเทพมหานคร (2545-ปัจจุบัน)',
    'report_uoq_name_eng': '(Unit : Baht / 1 Unit of Foreign Currency)',
    'report_uoq_name_th': '(หน่วย : บาท ต่อ 1 หน่วยเงินตราต่างประเทศ)',
    'report_source_of_data': [{'source_of_data_eng': 'Bank of Thailand',
      'source_of_data_th': 'ธนาคารแห่งประเทศไทย'}],
    'report_remark': [{'report_remark_eng': 'Since Nov 16, 2015 the data regarding Buying Transfer Rate of PKR has been changed to Buying Rate using Foreign Exchange Rates (THOMSON REUTERS) with Bangkok Market Crossing.',
      'report_remark_th': 'ตั้งแต่วันที่ 16 พ.ย. 2558 ข้อมูลในอัตราซื้อเงินโอนของสกุล PKR ได้เปลี่ยนเป็นอัตราซื้อที่ใช้อัตราในตลาดต่างประเทศ (ทอมสันรอยเตอร์) คำนวณผ่านอัตราซื้อขายเงินดอลลาร์ สรอ. ในตลาดกรุงเทพฯ'}],
    'last_updated': '2018-06-13'},
   'data_detail': [{'period': '2002-02',
     'currency_id': 'USD',
     'currency_name_th': 'สหรัฐอเมริกา : ดอลลาร์ (USD)',
     'currency_name_eng': 'USA : DOLLAR (USD) ',
     'buying_sight': '43.6288000',
     'buying_transfer': '43.7256000',
     'selling': '43.9254000',
     'mid_rate': '43.7771000'},
    {'period': '2002-01',
     'currency_id': 'USD',
     'currency_name_th': 'สหรัฐอเมริกา : ดอลลาร์ (USD)',
     'currency_name_eng': 'USA : DOLLAR (USD) ',
     'buying_sight': '43.8354000',
     'buying_transfer': '43.9321000',
     'selling': '44.1279000',
     'mid_rate': '43.9817000'}]}}}

In [65]:
j['result']['data']['data_detail']

[{'period': '2002-02',
  'currency_id': 'USD',
  'currency_name_th': 'สหรัฐอเมริกา : ดอลลาร์ (USD)',
  'currency_name_eng': 'USA : DOLLAR (USD) ',
  'buying_sight': '43.6288000',
  'buying_transfer': '43.7256000',
  'selling': '43.9254000',
  'mid_rate': '43.7771000'},
 {'period': '2002-01',
  'currency_id': 'USD',
  'currency_name_th': 'สหรัฐอเมริกา : ดอลลาร์ (USD)',
  'currency_name_eng': 'USA : DOLLAR (USD) ',
  'buying_sight': '43.8354000',
  'buying_transfer': '43.9321000',
  'selling': '44.1279000',
  'mid_rate': '43.9817000'}]

In [66]:
df = pd.DataFrame(data =j['result']['data']['data_detail'])
df

,buying_sight,buying_transfer,currency_id,currency_name_eng,currency_name_th,mid_rate,period,selling
0,43.6288000,43.7256000,USD,USA : DOLLAR (USD),สหรัฐอเมริกา : ดอลลาร์ (USD),43.7771000,2002-02,43.9254000
1,43.8354000,43.9321000,USD,USA : DOLLAR (USD),สหรัฐอเมริกา : ดอลลาร์ (USD),43.9817000,2002-01,44.1279000

In [67]:
df.dtypes

buying_sight         object
buying_transfer      object
currency_id          object
currency_name_eng    object
currency_name_th     object
mid_rate             object
period               object
selling              object
dtype: object

In [68]:
df['period'] = pd.to_datetime(df['period'])
df.buying_sight = pd.to_numeric(df['buying_sight'])    #df.buying_sight = df.buying_sight.astype('float')     
df['buying_transfer'] = pd.to_numeric(df['buying_transfer'])
df['mid_rate'] = df['mid_rate'].astype('float')
df['selling'] = df['selling'].astype('float')

In [69]:
df.dtypes

buying_sight                float64
buying_transfer             float64
currency_id                  object
currency_name_eng            object
currency_name_th             object
mid_rate                    float64
period               datetime64[ns]
selling                     float64
dtype: object

In [70]:
df.set_index('period', inplace=True)

In [71]:
df

,buying_sight,buying_transfer,currency_id,currency_name_eng,currency_name_th,mid_rate,selling
period,,,,,,,
2002-02-01,43.6288,43.7256,USD,USA : DOLLAR (USD),สหรัฐอเมริกา : ดอลลาร์ (USD),43.7771,43.9254
2002-01-01,43.8354,43.9321,USD,USA : DOLLAR (USD),สหรัฐอเมริกา : ดอลลาร์ (USD),43.9817,44.1279