In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mtcars.csv', nrows=5, index_col='model')
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## Singel label

In [28]:
df.loc['Datsun 710'].to_frame().T                  # df.loc[['Datsun 710']], df.loc[['Hornet 4 Drive'], :]

             mpg  cyl   disp    hp  drat    wt   qsec   vs   am  gear  carb
Datsun 710  22.8  4.0  108.0  93.0  3.85  2.32  18.61  1.0  1.0   4.0   1.0

In [29]:
df.loc['Datsun 710':'Hornet Sportabout']

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [50]:
df.loc[['Datsun 710'], 'mpg'].to_frame()

             mpg
model
Datsun 710  22.8

## list of label

In [58]:
df.loc[['Datsun 710', 'Hornet 4 Drive'], 'mpg':'hp']

                 mpg  cyl   disp   hp
model
Datsun 710      22.8    4  108.0   93
Hornet 4 Drive  21.4    6  258.0  110

In [59]:
df.loc[['Datsun 710', 'Hornet 4 Drive'], ['mpg', 'hp']]

                 mpg   hp
model
Datsun 710      22.8   93
Hornet 4 Drive  21.4  110

## Slice object

In [60]:
df.loc['Datsun 710':'Hornet Sportabout']

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
model,,,,,,,,,,,
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## boolean array

In [71]:
df.index

Index(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout'],
      dtype='object', name='model')

In [76]:
df.index.str.contains('Hornet')

array([False, False, False,  True,  True])

In [81]:
df.loc[df.index.str.contains('Hornet'), 'mpg':'hp']              #df[df.index.str.contains('Hornet')]

                    mpg  cyl   disp   hp
model
Hornet 4 Drive     21.4    6  258.0  110
Hornet Sportabout  18.7    8  360.0  175