In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/gapminder.csv', index_col=['country', 'year'])
df

                 continent  lifeExp       pop    gdpPercap
country     year
Afghanistan 1952      Asia   28.801   8425333   779.445314
            1957      Asia   30.332   9240934   820.853030
            1962      Asia   31.997  10267083   853.100710
            1967      Asia   34.020  11537966   836.197138
            1972      Asia   36.088  13079460   739.981106
            1977      Asia   38.438  14880372   786.113360
            1982      Asia   39.854  12881816   978.011439
            1987      Asia   40.822  13867957   852.395945
            1992      Asia   41.674  16317921   649.341395
            1997      Asia   41.763  22227415   635.341351
            2002      Asia   42.129  25268405   726.734055
            2007      Asia   43.828  31889923   974.580338
Albania     1952    Europe   55.230   1282697  1601.056136
            1957    Europe   59.280   1476505  1942.284244
            1962    Europe   64.820   1728137  2312.888958
            1967    Europe   66.220   1984060  2760.196931
            1972    Europe   67.690   2263554  3313.422188
            1977    Europe   68.930   2509048  3533.003910
            1982    Europe   70.420   2780097  3630.880722
            1987    Europe   72.000   3075321  3738.932735
            1992    Europe   71.581   3326498  2497.437901
            1997    Europe   72.950   3428038  3193.054604
            2002    Europe   75.651   3508512  4604.211737
            2007    Europe   76.423   3600523  5937.029526
Algeria     1952    Africa   43.077   9279525  2449.008185
            1957    Africa   45.685  10270856  3013.976023
            1962    Africa   48.303  11000948  2550.816880
            1967    Africa   51.407  12760499  3246.991771
            1972    Africa   54.518  14760787  4182.663766
            1977    Africa   58.014  17152804  4910.416756
...                    ...      ...       ...          ...
Yemen, Rep. 1982      Asia   49.113   9657618  1977.557010
            1987      Asia   52.922  11219340  1971.741538
            1992      Asia   55.599  13367997  1879.496673
            1997      Asia   58.020  15826497  2117.484526
            2002      Asia   60.308  18701257  2234.820827
            2007      Asia   62.698  22211743  2280.769906
Zambia      1952    Africa   42.038   2672000  1147.388831
            1957    Africa   44.077   3016000  1311.956766
            1962    Africa   46.023   3421000  1452.725766
            1967    Africa   47.768   3900000  1777.077318
            1972    Africa   50.107   4506497  1773.498265
            1977    Africa   51.386   5216550  1588.688299
            1982    Africa   51.821   6100407  1408.678565
            1987    Africa   50.821   7272406  1213.315116
            1992    Africa   46.100   8381163  1210.884633
            1997    Africa   40.238   9417789  1071.353818
            2002    Africa   39.193  10595811  1071.613938
            2007    Africa   42.384  11746035  1271.211593
Zimbabwe    1952    Africa   48.451   3080907   406.884115
            1957    Africa   50.469   3646340   518.764268
            1962    Africa   52.358   4277736   527.272182
            1967    Africa   53.995   4995432   569.795071
            1972    Africa   55.635   5861135   799.362176
            1977    Africa   57.674   6642107   685.587682
            1982    Africa   60.363   7636524   788.855041
            1987    Africa   62.351   9216418   706.157306
            1992    Africa   60.377  10704340   693.420786
            1997    Africa   46.809  11404948   792.449960
            2002    Africa   39.989  11926563   672.038623
            2007    Africa   43.487  12311143   469.709298

[1704 rows x 4 columns]

In [11]:
df.loc[pd.IndexSlice['Thailand',1977], :]

continent        Asia
lifeExp        62.494
pop          44148285
gdpPercap     1961.22
Name: (Thailand, 1977), dtype: object

In [13]:
df.loc[pd.IndexSlice[:,1977],:]

                              continent   lifeExp        pop     gdpPercap
country                  year
Afghanistan              1977      Asia  38.43800   14880372    786.113360
Albania                  1977    Europe  68.93000    2509048   3533.003910
Algeria                  1977    Africa  58.01400   17152804   4910.416756
Angola                   1977    Africa  39.48300    6162675   3008.647355
Argentina                1977  Americas  68.48100   26983828  10079.026740
Australia                1977   Oceania  73.49000   14074100  18334.197510
Austria                  1977    Europe  72.17000    7568430  19749.422300
Bahrain                  1977      Asia  65.59300     297410  19340.101960
Bangladesh               1977      Asia  46.92300   80428306    659.877232
Belgium                  1977    Europe  72.80000    9821800  19117.974480
Benin                    1977    Africa  49.19000    3168267   1029.161251
Bolivia                  1977  Americas  50.02300    5079716   3548.097832
Bosnia and Herzegovina   1977    Europe  69.86000    4086000   3528.481305
Botswana                 1977    Africa  59.31900     781472   3214.857818
Brazil                   1977  Americas  61.48900  114313951   6660.118654
Bulgaria                 1977    Europe  70.81000    8797022   7612.240438
Burkina Faso             1977    Africa  46.13700    5889574    743.387037
Burundi                  1977    Africa  45.91000    3834415    556.103265
Cambodia                 1977      Asia  31.22000    6978607    524.972183
Cameroon                 1977    Africa  49.35500    7959865   1783.432873
Canada                   1977  Americas  74.21000   23796400  22090.883060
Central African Republic 1977    Africa  46.77500    2167533   1109.374338
Chad                     1977    Africa  47.38300    4388260   1133.984950
Chile                    1977  Americas  67.05200   10599793   4756.763836
China                    1977      Asia  63.96736  943455000    741.237470
Colombia                 1977  Americas  63.83700   25094412   3815.807870
Comoros                  1977    Africa  50.93900     304739   1172.603047
Congo, Dem. Rep.         1977    Africa  47.80400   26480870    795.757282
Congo, Rep.              1977    Africa  55.62500    1536769   3259.178978
Costa Rica               1977  Americas  70.75000    2108457   5926.876967
...                                 ...       ...        ...           ...
Sierra Leone             1977    Africa  36.78800    3140897   1348.285159
Singapore                1977      Asia  70.79500    2325300  11210.089480
Slovak Republic          1977    Europe  70.45000    4827803  10922.664040
Slovenia                 1977    Europe  70.97000    1746919  15277.030170
Somalia                  1977    Africa  41.97400    4353666   1450.992513
South Africa             1977    Africa  55.52700   27129932   8028.651439
Spain                    1977    Europe  74.39000   36439000  13236.921170
Sri Lanka                1977      Asia  65.94900   14116836   1348.775651
Sudan                    1977    Africa  47.80000   17104986   2202.988423
Swaziland                1977    Africa  52.53700     551425   3781.410618
Sweden                   1977    Europe  75.44000    8251648  18855.725210
Switzerland              1977    Europe  75.39000    6316424  26982.290520
Syria                    1977      Asia  61.19500    7932503   3195.484582
Taiwan                   1977      Asia  70.59000   16785196   5596.519826
Tanzania                 1977    Africa  49.91900   17129565    962.492293
Thailand                 1977      Asia  62.49400   44148285   1961.224635
Togo                     1977    Africa  52.88700    2308582   1532.776998
Trinidad and Tobago      1977  Americas  68.30000    1039009   7899.554209
Tunisia                  1977    Africa  59.83700    6005061   3120.876811
Turkey                   1977    Europe  59.50700   42404033   4269.122326
Uganda                   1977    Africa  50.35000   11457758    843.733137
United Kingdom           1977    Europe  72.76000   56179000  17428.748460
United States            1977  Americas  73.38000  220239000  24072.632130
Uruguay                  1977  Americas  69.48100    2873520   6504.339663
Venezuela                1977  Americas  67.45600   13503563  13143.950950
Vietnam                  1977      Asia  55.76400   50533506    713.537120
West Bank and Gaza       1977      Asia  60.76500    1261091   3682.831494
Yemen, Rep.              1977      Asia  44.17500    8403990   1829.765177
Zambia                   1977    Africa  51.38600    5216550   1588.688299
Zimbabwe                 1977    Africa  57.67400    6642107    685.587682

[142 rows x 4 columns]

In [14]:
idx = pd.IndexSlice

In [17]:
df.loc[idx[:,1977],:]

                              continent   lifeExp        pop     gdpPercap
country                  year
Afghanistan              1977      Asia  38.43800   14880372    786.113360
Albania                  1977    Europe  68.93000    2509048   3533.003910
Algeria                  1977    Africa  58.01400   17152804   4910.416756
Angola                   1977    Africa  39.48300    6162675   3008.647355
Argentina                1977  Americas  68.48100   26983828  10079.026740
Australia                1977   Oceania  73.49000   14074100  18334.197510
Austria                  1977    Europe  72.17000    7568430  19749.422300
Bahrain                  1977      Asia  65.59300     297410  19340.101960
Bangladesh               1977      Asia  46.92300   80428306    659.877232
Belgium                  1977    Europe  72.80000    9821800  19117.974480
Benin                    1977    Africa  49.19000    3168267   1029.161251
Bolivia                  1977  Americas  50.02300    5079716   3548.097832
Bosnia and Herzegovina   1977    Europe  69.86000    4086000   3528.481305
Botswana                 1977    Africa  59.31900     781472   3214.857818
Brazil                   1977  Americas  61.48900  114313951   6660.118654
Bulgaria                 1977    Europe  70.81000    8797022   7612.240438
Burkina Faso             1977    Africa  46.13700    5889574    743.387037
Burundi                  1977    Africa  45.91000    3834415    556.103265
Cambodia                 1977      Asia  31.22000    6978607    524.972183
Cameroon                 1977    Africa  49.35500    7959865   1783.432873
Canada                   1977  Americas  74.21000   23796400  22090.883060
Central African Republic 1977    Africa  46.77500    2167533   1109.374338
Chad                     1977    Africa  47.38300    4388260   1133.984950
Chile                    1977  Americas  67.05200   10599793   4756.763836
China                    1977      Asia  63.96736  943455000    741.237470
Colombia                 1977  Americas  63.83700   25094412   3815.807870
Comoros                  1977    Africa  50.93900     304739   1172.603047
Congo, Dem. Rep.         1977    Africa  47.80400   26480870    795.757282
Congo, Rep.              1977    Africa  55.62500    1536769   3259.178978
Costa Rica               1977  Americas  70.75000    2108457   5926.876967
...                                 ...       ...        ...           ...
Sierra Leone             1977    Africa  36.78800    3140897   1348.285159
Singapore                1977      Asia  70.79500    2325300  11210.089480
Slovak Republic          1977    Europe  70.45000    4827803  10922.664040
Slovenia                 1977    Europe  70.97000    1746919  15277.030170
Somalia                  1977    Africa  41.97400    4353666   1450.992513
South Africa             1977    Africa  55.52700   27129932   8028.651439
Spain                    1977    Europe  74.39000   36439000  13236.921170
Sri Lanka                1977      Asia  65.94900   14116836   1348.775651
Sudan                    1977    Africa  47.80000   17104986   2202.988423
Swaziland                1977    Africa  52.53700     551425   3781.410618
Sweden                   1977    Europe  75.44000    8251648  18855.725210
Switzerland              1977    Europe  75.39000    6316424  26982.290520
Syria                    1977      Asia  61.19500    7932503   3195.484582
Taiwan                   1977      Asia  70.59000   16785196   5596.519826
Tanzania                 1977    Africa  49.91900   17129565    962.492293
Thailand                 1977      Asia  62.49400   44148285   1961.224635
Togo                     1977    Africa  52.88700    2308582   1532.776998
Trinidad and Tobago      1977  Americas  68.30000    1039009   7899.554209
Tunisia                  1977    Africa  59.83700    6005061   3120.876811
Turkey                   1977    Europe  59.50700   42404033   4269.122326
Uganda                   1977    Africa  50.35000   11457758    843.733137
United Kingdom           1977    Europe  72.76000   56179000  17428.748460
United States            1977  Americas  73.38000  220239000  24072.632130
Uruguay                  1977  Americas  69.48100    2873520   6504.339663
Venezuela                1977  Americas  67.45600   13503563  13143.950950
Vietnam                  1977      Asia  55.76400   50533506    713.537120
West Bank and Gaza       1977      Asia  60.76500    1261091   3682.831494
Yemen, Rep.              1977      Asia  44.17500    8403990   1829.765177
Zambia                   1977    Africa  51.38600    5216550   1588.688299
Zimbabwe                 1977    Africa  57.67400    6642107    685.587682

[142 rows x 4 columns]

In [20]:
df.loc[idx[:,1977:], :]

                        continent  lifeExp       pop     gdpPercap
country            year
Afghanistan        1977      Asia   38.438  14880372    786.113360
                   1982      Asia   39.854  12881816    978.011439
                   1987      Asia   40.822  13867957    852.395945
                   1992      Asia   41.674  16317921    649.341395
                   1997      Asia   41.763  22227415    635.341351
                   2002      Asia   42.129  25268405    726.734055
                   2007      Asia   43.828  31889923    974.580338
Albania            1977    Europe   68.930   2509048   3533.003910
                   1982    Europe   70.420   2780097   3630.880722
                   1987    Europe   72.000   3075321   3738.932735
                   1992    Europe   71.581   3326498   2497.437901
                   1997    Europe   72.950   3428038   3193.054604
                   2002    Europe   75.651   3508512   4604.211737
                   2007    Europe   76.423   3600523   5937.029526
Algeria            1977    Africa   58.014  17152804   4910.416756
                   1982    Africa   61.368  20033753   5745.160213
                   1987    Africa   65.799  23254956   5681.358539
                   1992    Africa   67.744  26298373   5023.216647
                   1997    Africa   69.152  29072015   4797.295051
                   2002    Africa   70.994  31287142   5288.040382
                   2007    Africa   72.301  33333216   6223.367465
Angola             1977    Africa   39.483   6162675   3008.647355
                   1982    Africa   39.942   7016384   2756.953672
                   1987    Africa   39.906   7874230   2430.208311
                   1992    Africa   40.647   8735988   2627.845685
                   1997    Africa   40.963   9875024   2277.140884
                   2002    Africa   41.003  10866106   2773.287312
                   2007    Africa   42.731  12420476   4797.231267
Argentina          1977  Americas   68.481  26983828  10079.026740
                   1982  Americas   69.942  29341374   8997.897412
...                           ...      ...       ...           ...
Vietnam            2002      Asia   73.017  80908147   1764.456677
                   2007      Asia   74.249  85262356   2441.576404
West Bank and Gaza 1977      Asia   60.765   1261091   3682.831494
                   1982      Asia   64.406   1425876   4336.032082
                   1987      Asia   67.046   1691210   5107.197384
                   1992      Asia   69.718   2104779   6017.654756
                   1997      Asia   71.096   2826046   7110.667619
                   2002      Asia   72.370   3389578   4515.487575
                   2007      Asia   73.422   4018332   3025.349798
Yemen, Rep.        1977      Asia   44.175   8403990   1829.765177
                   1982      Asia   49.113   9657618   1977.557010
                   1987      Asia   52.922  11219340   1971.741538
                   1992      Asia   55.599  13367997   1879.496673
                   1997      Asia   58.020  15826497   2117.484526
                   2002      Asia   60.308  18701257   2234.820827
                   2007      Asia   62.698  22211743   2280.769906
Zambia             1977    Africa   51.386   5216550   1588.688299
                   1982    Africa   51.821   6100407   1408.678565
                   1987    Africa   50.821   7272406   1213.315116
                   1992    Africa   46.100   8381163   1210.884633
                   1997    Africa   40.238   9417789   1071.353818
                   2002    Africa   39.193  10595811   1071.613938
                   2007    Africa   42.384  11746035   1271.211593
Zimbabwe           1977    Africa   57.674   6642107    685.587682
                   1982    Africa   60.363   7636524    788.855041
                   1987    Africa   62.351   9216418    706.157306
                   1992    Africa   60.377  10704340    693.420786
                   1997    Africa   46.809  11404948    792.449960
                   2002    Africa   39.989  11926563    672.038623
                   2007    Africa   43.487  12311143    469.709298

[994 rows x 4 columns]

In [36]:
df.loc[idx['Taiwan':'Thailand', 1977:2002],:]

              continent  lifeExp       pop     gdpPercap
country  year
Taiwan   1977      Asia   70.590  16785196   5596.519826
         1982      Asia   72.160  18501390   7426.354774
         1987      Asia   73.400  19757799  11054.561750
         1992      Asia   74.260  20686918  15215.657900
         1997      Asia   75.250  21628605  20206.820980
         2002      Asia   76.990  22454239  23235.423290
Tanzania 1977    Africa   49.919  17129565    962.492293
         1982    Africa   50.608  19844382    874.242607
         1987    Africa   51.535  23040630    831.822079
         1992    Africa   50.440  26605473    825.682454
         1997    Africa   48.466  30686889    789.186223
         2002    Africa   49.651  34593779    899.074211
Thailand 1977      Asia   62.494  44148285   1961.224635
         1982      Asia   64.597  48827160   2393.219781
         1987      Asia   66.084  52910342   2982.653773
         1992      Asia   67.298  56667095   4616.896545
         1997      Asia   67.521  60216677   5852.625497
         2002      Asia   68.564  62806748   5913.187529

In [40]:
df.loc[idx['T':'V', :] ,:]

                    continent  lifeExp        pop     gdpPercap
country        year
Taiwan         1952      Asia   58.500    8550362   1206.947913
               1957      Asia   62.400   10164215   1507.861290
               1962      Asia   65.200   11918938   1822.879028
               1967      Asia   67.500   13648692   2643.858681
               1972      Asia   69.390   15226039   4062.523897
               1977      Asia   70.590   16785196   5596.519826
               1982      Asia   72.160   18501390   7426.354774
               1987      Asia   73.400   19757799  11054.561750
               1992      Asia   74.260   20686918  15215.657900
               1997      Asia   75.250   21628605  20206.820980
               2002      Asia   76.990   22454239  23235.423290
               2007      Asia   78.400   23174294  28718.276840
Tanzania       1952    Africa   41.215    8322925    716.650072
               1957    Africa   42.974    9452826    698.535607
               1962    Africa   44.246   10863958    722.003807
               1967    Africa   45.757   12607312    848.218657
               1972    Africa   47.620   14706593    915.985059
               1977    Africa   49.919   17129565    962.492293
               1982    Africa   50.608   19844382    874.242607
               1987    Africa   51.535   23040630    831.822079
               1992    Africa   50.440   26605473    825.682454
               1997    Africa   48.466   30686889    789.186223
               2002    Africa   49.651   34593779    899.074211
               2007    Africa   52.517   38139640   1107.482182
Thailand       1952      Asia   50.848   21289402    757.797418
               1957      Asia   53.630   25041917    793.577415
               1962      Asia   56.061   29263397   1002.199172
               1967      Asia   58.285   34024249   1295.460660
               1972      Asia   60.405   39276153   1524.358936
               1977      Asia   62.494   44148285   1961.224635
...                       ...      ...        ...           ...
United Kingdom 1982    Europe   74.040   56339704  18232.424520
               1987    Europe   75.007   56981620  21664.787670
               1992    Europe   76.420   57866349  22705.092540
               1997    Europe   77.218   58808266  26074.531360
               2002    Europe   78.471   59912431  29478.999190
               2007    Europe   79.425   60776238  33203.261280
United States  1952  Americas   68.440  157553000  13990.482080
               1957  Americas   69.490  171984000  14847.127120
               1962  Americas   70.210  186538000  16173.145860
               1967  Americas   70.760  198712000  19530.365570
               1972  Americas   71.340  209896000  21806.035940
               1977  Americas   73.380  220239000  24072.632130
               1982  Americas   74.650  232187835  25009.559140
               1987  Americas   75.020  242803533  29884.350410
               1992  Americas   76.090  256894189  32003.932240
               1997  Americas   76.810  272911760  35767.433030
               2002  Americas   77.310  287675526  39097.099550
               2007  Americas   78.242  301139947  42951.653090
Uruguay        1952  Americas   66.071    2252965   5716.766744
               1957  Americas   67.044    2424959   6150.772969
               1962  Americas   68.253    2598466   5603.357717
               1967  Americas   68.468    2748579   5444.619620
               1972  Americas   68.673    2829526   5703.408898
               1977  Americas   69.481    2873520   6504.339663
               1982  Americas   70.805    2953997   6920.223051
               1987  Americas   71.918    3045153   7452.398969
               1992  Americas   72.752    3149262   8137.004775
               1997  Americas   74.223    3262838   9230.240708
               2002  Americas   75.307    3363085   7727.002004
               2007  Americas   76.384    3447496  10611.462990

[132 rows x 4 columns]