In [118]:
import pandas as pd

In [119]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_tallest_buildings', match ='Burj Khalifa', header=0)

In [120]:
len(dfs)

7

In [121]:
dfs[1]

,Rank,Building,City,Country,Height,Floors,Built,Unnamed: 7
0,1,Burj Khalifa†,Dubai,United Arab Emirates,829.8 m,"2,722 ft",163,2010
1,2,Shanghai Tower,Shanghai,China,632 m,"2,073 ft",128,2015
2,3,Abraj Al-Bait Towers,Mecca,Saudi Arabia,601 m[10],"1,971 ft",120,2012
3,4,Ping An Finance Center,Shenzhen,China,599 m,"1,965 ft",115,2016
4,5,Lotte World Tower†,Seoul,South Korea,555.7 m,"1,823 ft",123,2016
5,6,One World Trade Center†,New York City,United States,546.2 m,"1,792 ft",104,2014
6,7,CTF Finance Centre,Guangzhou,China,530 m[11],"1,739 ft",111,2016
7,7,Tianjin CTF Finance Centre,Tianjin,China,530 m,"1,739 ft",98,2017
8,9,China Zun,Beijing,China,528 m,"1,732 ft",108,2018
9,10,Willis Tower†,Chicago,United States,527 m,"1,729 ft",108,1974
10,11,Taipei 101,Taipei,Taiwan,508 m,"1,667 ft",101,2004
11,12,Shanghai World Financial Center†,Shanghai,China,494.3 m,"1,622 ft",101,2008
12,13,International Commerce Centre,Hong Kong,China,484 m,"1,588 ft",118,2010
13,14,Lakhta Center[18],St. Petersburg,Russia,462 m,"1,516 ft",86,2018
14,15,Landmark 81,Ho Chi Minh City,Vietnam,461.2 m,"1,513 ft",81,2018
15,16,John Hancock Center†,Chicago,United States,456.9 m,"1,499 ft",100,1969
16,17,Changsha IFS Tower T1,Changsha,China,452 m,"1,483 ft",94,2017
17,18,Petronas Tower 1,Kuala Lumpur,Malaysia,451.9 m,"1,483 ft",88,1998
18,18,Petronas Tower 2,Kuala Lumpur,Malaysia,451.9 m,"1,483 ft",88,1998
19,20,Zifeng Tower,Nanjing,China,450 m,"1,476 ft",89,2009
20,21,Suzhou IFS,Suzhou,China,450 m,"1,476 ft",98,2017
21,22,Empire State Building†,New York City,United States,443.2 m,"1,454 ft",102,1931
22,23,Kingkey 100,Shenzhen,China,442 m,"1,449 ft",100,2011
23,24,Guangzhou International Finance Center,Guangzhou,China,438.6 m,"1,445 ft",103,2009
24,25,Wuhan Center,Wuhan,China,438 m,"1,437 ft",88,2017
25,26,432 Park Avenue,New York City,United States,425.5 m,"1,396 ft",85,2015
26,27,Marina 101,Dubai,United Arab Emirates,425 m,"1,394 ft",101,2017
27,28,Trump International Hotel and Tower,Chicago,United States,423.2 m,"1,388 ft",96,2009
28,29,Jin Mao Tower,Shanghai,China,421 m,"1,381 ft",88,1998
29,30,Princess Tower†,Dubai,United Arab Emirates,414 m,"1,358 ft[15]",101,2012
30,31,Al Hamra Tower,Kuwait City,Kuwait,412.6 m,"1,354 ft",80,2010
31,32,Two International Finance Centre,Hong Kong,China,412 m,"1,352 ft",88,2003

In [122]:
df = dfs[1]

In [123]:
df

,Rank,Building,City,Country,Height,Floors,Built,Unnamed: 7
0,1,Burj Khalifa†,Dubai,United Arab Emirates,829.8 m,"2,722 ft",163,2010
1,2,Shanghai Tower,Shanghai,China,632 m,"2,073 ft",128,2015
2,3,Abraj Al-Bait Towers,Mecca,Saudi Arabia,601 m[10],"1,971 ft",120,2012
3,4,Ping An Finance Center,Shenzhen,China,599 m,"1,965 ft",115,2016
4,5,Lotte World Tower†,Seoul,South Korea,555.7 m,"1,823 ft",123,2016
5,6,One World Trade Center†,New York City,United States,546.2 m,"1,792 ft",104,2014
6,7,CTF Finance Centre,Guangzhou,China,530 m[11],"1,739 ft",111,2016
7,7,Tianjin CTF Finance Centre,Tianjin,China,530 m,"1,739 ft",98,2017
8,9,China Zun,Beijing,China,528 m,"1,732 ft",108,2018
9,10,Willis Tower†,Chicago,United States,527 m,"1,729 ft",108,1974
10,11,Taipei 101,Taipei,Taiwan,508 m,"1,667 ft",101,2004
11,12,Shanghai World Financial Center†,Shanghai,China,494.3 m,"1,622 ft",101,2008
12,13,International Commerce Centre,Hong Kong,China,484 m,"1,588 ft",118,2010
13,14,Lakhta Center[18],St. Petersburg,Russia,462 m,"1,516 ft",86,2018
14,15,Landmark 81,Ho Chi Minh City,Vietnam,461.2 m,"1,513 ft",81,2018
15,16,John Hancock Center†,Chicago,United States,456.9 m,"1,499 ft",100,1969
16,17,Changsha IFS Tower T1,Changsha,China,452 m,"1,483 ft",94,2017
17,18,Petronas Tower 1,Kuala Lumpur,Malaysia,451.9 m,"1,483 ft",88,1998
18,18,Petronas Tower 2,Kuala Lumpur,Malaysia,451.9 m,"1,483 ft",88,1998
19,20,Zifeng Tower,Nanjing,China,450 m,"1,476 ft",89,2009
20,21,Suzhou IFS,Suzhou,China,450 m,"1,476 ft",98,2017
21,22,Empire State Building†,New York City,United States,443.2 m,"1,454 ft",102,1931
22,23,Kingkey 100,Shenzhen,China,442 m,"1,449 ft",100,2011
23,24,Guangzhou International Finance Center,Guangzhou,China,438.6 m,"1,445 ft",103,2009
24,25,Wuhan Center,Wuhan,China,438 m,"1,437 ft",88,2017
25,26,432 Park Avenue,New York City,United States,425.5 m,"1,396 ft",85,2015
26,27,Marina 101,Dubai,United Arab Emirates,425 m,"1,394 ft",101,2017
27,28,Trump International Hotel and Tower,Chicago,United States,423.2 m,"1,388 ft",96,2009
28,29,Jin Mao Tower,Shanghai,China,421 m,"1,381 ft",88,1998
29,30,Princess Tower†,Dubai,United Arab Emirates,414 m,"1,358 ft[15]",101,2012
30,31,Al Hamra Tower,Kuwait City,Kuwait,412.6 m,"1,354 ft",80,2010
31,32,Two International Finance Centre,Hong Kong,China,412 m,"1,352 ft",88,2003

In [124]:
df['Building'] = df.Building.str.replace('†','')

In [125]:
df.rename(columns={'Unnamed: 7':'Year'}, inplace=True)

In [126]:
df

,Rank,Building,City,Country,Height,Floors,Built,Year
0,1,Burj Khalifa,Dubai,United Arab Emirates,829.8 m,"2,722 ft",163,2010
1,2,Shanghai Tower,Shanghai,China,632 m,"2,073 ft",128,2015
2,3,Abraj Al-Bait Towers,Mecca,Saudi Arabia,601 m[10],"1,971 ft",120,2012
3,4,Ping An Finance Center,Shenzhen,China,599 m,"1,965 ft",115,2016
4,5,Lotte World Tower,Seoul,South Korea,555.7 m,"1,823 ft",123,2016
5,6,One World Trade Center,New York City,United States,546.2 m,"1,792 ft",104,2014
6,7,CTF Finance Centre,Guangzhou,China,530 m[11],"1,739 ft",111,2016
7,7,Tianjin CTF Finance Centre,Tianjin,China,530 m,"1,739 ft",98,2017
8,9,China Zun,Beijing,China,528 m,"1,732 ft",108,2018
9,10,Willis Tower,Chicago,United States,527 m,"1,729 ft",108,1974
10,11,Taipei 101,Taipei,Taiwan,508 m,"1,667 ft",101,2004
11,12,Shanghai World Financial Center,Shanghai,China,494.3 m,"1,622 ft",101,2008
12,13,International Commerce Centre,Hong Kong,China,484 m,"1,588 ft",118,2010
13,14,Lakhta Center[18],St. Petersburg,Russia,462 m,"1,516 ft",86,2018
14,15,Landmark 81,Ho Chi Minh City,Vietnam,461.2 m,"1,513 ft",81,2018
15,16,John Hancock Center,Chicago,United States,456.9 m,"1,499 ft",100,1969
16,17,Changsha IFS Tower T1,Changsha,China,452 m,"1,483 ft",94,2017
17,18,Petronas Tower 1,Kuala Lumpur,Malaysia,451.9 m,"1,483 ft",88,1998
18,18,Petronas Tower 2,Kuala Lumpur,Malaysia,451.9 m,"1,483 ft",88,1998
19,20,Zifeng Tower,Nanjing,China,450 m,"1,476 ft",89,2009
20,21,Suzhou IFS,Suzhou,China,450 m,"1,476 ft",98,2017
21,22,Empire State Building,New York City,United States,443.2 m,"1,454 ft",102,1931
22,23,Kingkey 100,Shenzhen,China,442 m,"1,449 ft",100,2011
23,24,Guangzhou International Finance Center,Guangzhou,China,438.6 m,"1,445 ft",103,2009
24,25,Wuhan Center,Wuhan,China,438 m,"1,437 ft",88,2017
25,26,432 Park Avenue,New York City,United States,425.5 m,"1,396 ft",85,2015
26,27,Marina 101,Dubai,United Arab Emirates,425 m,"1,394 ft",101,2017
27,28,Trump International Hotel and Tower,Chicago,United States,423.2 m,"1,388 ft",96,2009
28,29,Jin Mao Tower,Shanghai,China,421 m,"1,381 ft",88,1998
29,30,Princess Tower,Dubai,United Arab Emirates,414 m,"1,358 ft[15]",101,2012
30,31,Al Hamra Tower,Kuwait City,Kuwait,412.6 m,"1,354 ft",80,2010
31,32,Two International Finance Centre,Hong Kong,China,412 m,"1,352 ft",88,2003

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 8 columns):
Rank        32 non-null int64
Building    32 non-null object
City        32 non-null object
Country     32 non-null object
Height      32 non-null object
Floors      32 non-null object
Built       32 non-null int64
Year        32 non-null int64
dtypes: int64(3), object(5)
memory usage: 2.1+ KB

In [128]:
df['Height'] = df.Height.str.replace('(\[.*\])|[^\d\.]','').astype(float)

In [129]:
df

,Rank,Building,City,Country,Height,Floors,Built,Year
0,1,Burj Khalifa,Dubai,United Arab Emirates,829.8,"2,722 ft",163,2010
1,2,Shanghai Tower,Shanghai,China,632.0,"2,073 ft",128,2015
2,3,Abraj Al-Bait Towers,Mecca,Saudi Arabia,601.0,"1,971 ft",120,2012
3,4,Ping An Finance Center,Shenzhen,China,599.0,"1,965 ft",115,2016
4,5,Lotte World Tower,Seoul,South Korea,555.7,"1,823 ft",123,2016
5,6,One World Trade Center,New York City,United States,546.2,"1,792 ft",104,2014
6,7,CTF Finance Centre,Guangzhou,China,530.0,"1,739 ft",111,2016
7,7,Tianjin CTF Finance Centre,Tianjin,China,530.0,"1,739 ft",98,2017
8,9,China Zun,Beijing,China,528.0,"1,732 ft",108,2018
9,10,Willis Tower,Chicago,United States,527.0,"1,729 ft",108,1974
10,11,Taipei 101,Taipei,Taiwan,508.0,"1,667 ft",101,2004
11,12,Shanghai World Financial Center,Shanghai,China,494.3,"1,622 ft",101,2008
12,13,International Commerce Centre,Hong Kong,China,484.0,"1,588 ft",118,2010
13,14,Lakhta Center[18],St. Petersburg,Russia,462.0,"1,516 ft",86,2018
14,15,Landmark 81,Ho Chi Minh City,Vietnam,461.2,"1,513 ft",81,2018
15,16,John Hancock Center,Chicago,United States,456.9,"1,499 ft",100,1969
16,17,Changsha IFS Tower T1,Changsha,China,452.0,"1,483 ft",94,2017
17,18,Petronas Tower 1,Kuala Lumpur,Malaysia,451.9,"1,483 ft",88,1998
18,18,Petronas Tower 2,Kuala Lumpur,Malaysia,451.9,"1,483 ft",88,1998
19,20,Zifeng Tower,Nanjing,China,450.0,"1,476 ft",89,2009
20,21,Suzhou IFS,Suzhou,China,450.0,"1,476 ft",98,2017
21,22,Empire State Building,New York City,United States,443.2,"1,454 ft",102,1931
22,23,Kingkey 100,Shenzhen,China,442.0,"1,449 ft",100,2011
23,24,Guangzhou International Finance Center,Guangzhou,China,438.6,"1,445 ft",103,2009
24,25,Wuhan Center,Wuhan,China,438.0,"1,437 ft",88,2017
25,26,432 Park Avenue,New York City,United States,425.5,"1,396 ft",85,2015
26,27,Marina 101,Dubai,United Arab Emirates,425.0,"1,394 ft",101,2017
27,28,Trump International Hotel and Tower,Chicago,United States,423.2,"1,388 ft",96,2009
28,29,Jin Mao Tower,Shanghai,China,421.0,"1,381 ft",88,1998
29,30,Princess Tower,Dubai,United Arab Emirates,414.0,"1,358 ft[15]",101,2012
30,31,Al Hamra Tower,Kuwait City,Kuwait,412.6,"1,354 ft",80,2010
31,32,Two International Finance Centre,Hong Kong,China,412.0,"1,352 ft",88,2003

In [130]:
df['Floors'] = df.Floors.str.replace('\[.*\]|[^\d]','').astype(int)
df

,Rank,Building,City,Country,Height,Floors,Built,Year
0,1,Burj Khalifa,Dubai,United Arab Emirates,829.8,2722,163,2010
1,2,Shanghai Tower,Shanghai,China,632.0,2073,128,2015
2,3,Abraj Al-Bait Towers,Mecca,Saudi Arabia,601.0,1971,120,2012
3,4,Ping An Finance Center,Shenzhen,China,599.0,1965,115,2016
4,5,Lotte World Tower,Seoul,South Korea,555.7,1823,123,2016
5,6,One World Trade Center,New York City,United States,546.2,1792,104,2014
6,7,CTF Finance Centre,Guangzhou,China,530.0,1739,111,2016
7,7,Tianjin CTF Finance Centre,Tianjin,China,530.0,1739,98,2017
8,9,China Zun,Beijing,China,528.0,1732,108,2018
9,10,Willis Tower,Chicago,United States,527.0,1729,108,1974
10,11,Taipei 101,Taipei,Taiwan,508.0,1667,101,2004
11,12,Shanghai World Financial Center,Shanghai,China,494.3,1622,101,2008
12,13,International Commerce Centre,Hong Kong,China,484.0,1588,118,2010
13,14,Lakhta Center[18],St. Petersburg,Russia,462.0,1516,86,2018
14,15,Landmark 81,Ho Chi Minh City,Vietnam,461.2,1513,81,2018
15,16,John Hancock Center,Chicago,United States,456.9,1499,100,1969
16,17,Changsha IFS Tower T1,Changsha,China,452.0,1483,94,2017
17,18,Petronas Tower 1,Kuala Lumpur,Malaysia,451.9,1483,88,1998
18,18,Petronas Tower 2,Kuala Lumpur,Malaysia,451.9,1483,88,1998
19,20,Zifeng Tower,Nanjing,China,450.0,1476,89,2009
20,21,Suzhou IFS,Suzhou,China,450.0,1476,98,2017
21,22,Empire State Building,New York City,United States,443.2,1454,102,1931
22,23,Kingkey 100,Shenzhen,China,442.0,1449,100,2011
23,24,Guangzhou International Finance Center,Guangzhou,China,438.6,1445,103,2009
24,25,Wuhan Center,Wuhan,China,438.0,1437,88,2017
25,26,432 Park Avenue,New York City,United States,425.5,1396,85,2015
26,27,Marina 101,Dubai,United Arab Emirates,425.0,1394,101,2017
27,28,Trump International Hotel and Tower,Chicago,United States,423.2,1388,96,2009
28,29,Jin Mao Tower,Shanghai,China,421.0,1381,88,1998
29,30,Princess Tower,Dubai,United Arab Emirates,414.0,1358,101,2012
30,31,Al Hamra Tower,Kuwait City,Kuwait,412.6,1354,80,2010
31,32,Two International Finance Centre,Hong Kong,China,412.0,1352,88,2003

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 8 columns):
Rank        32 non-null int64
Building    32 non-null object
City        32 non-null object
Country     32 non-null object
Height      32 non-null float64
Floors      32 non-null int32
Built       32 non-null int64
Year        32 non-null int64
dtypes: float64(1), int32(1), int64(3), object(3)
memory usage: 2.0+ KB

In [132]:
df['Rank_floor'] = df.Floors.rank(method='min', ascending=False).astype(int)

In [133]:
df

,Rank,Building,City,Country,Height,Floors,Built,Year,Rank_floor
0,1,Burj Khalifa,Dubai,United Arab Emirates,829.8,2722,163,2010,1
1,2,Shanghai Tower,Shanghai,China,632.0,2073,128,2015,2
2,3,Abraj Al-Bait Towers,Mecca,Saudi Arabia,601.0,1971,120,2012,3
3,4,Ping An Finance Center,Shenzhen,China,599.0,1965,115,2016,4
4,5,Lotte World Tower,Seoul,South Korea,555.7,1823,123,2016,5
5,6,One World Trade Center,New York City,United States,546.2,1792,104,2014,6
6,7,CTF Finance Centre,Guangzhou,China,530.0,1739,111,2016,7
7,7,Tianjin CTF Finance Centre,Tianjin,China,530.0,1739,98,2017,7
8,9,China Zun,Beijing,China,528.0,1732,108,2018,9
9,10,Willis Tower,Chicago,United States,527.0,1729,108,1974,10
10,11,Taipei 101,Taipei,Taiwan,508.0,1667,101,2004,11
11,12,Shanghai World Financial Center,Shanghai,China,494.3,1622,101,2008,12
12,13,International Commerce Centre,Hong Kong,China,484.0,1588,118,2010,13
13,14,Lakhta Center[18],St. Petersburg,Russia,462.0,1516,86,2018,14
14,15,Landmark 81,Ho Chi Minh City,Vietnam,461.2,1513,81,2018,15
15,16,John Hancock Center,Chicago,United States,456.9,1499,100,1969,16
16,17,Changsha IFS Tower T1,Changsha,China,452.0,1483,94,2017,17
17,18,Petronas Tower 1,Kuala Lumpur,Malaysia,451.9,1483,88,1998,17
18,18,Petronas Tower 2,Kuala Lumpur,Malaysia,451.9,1483,88,1998,17
19,20,Zifeng Tower,Nanjing,China,450.0,1476,89,2009,20
20,21,Suzhou IFS,Suzhou,China,450.0,1476,98,2017,20
21,22,Empire State Building,New York City,United States,443.2,1454,102,1931,22
22,23,Kingkey 100,Shenzhen,China,442.0,1449,100,2011,23
23,24,Guangzhou International Finance Center,Guangzhou,China,438.6,1445,103,2009,24
24,25,Wuhan Center,Wuhan,China,438.0,1437,88,2017,25
25,26,432 Park Avenue,New York City,United States,425.5,1396,85,2015,26
26,27,Marina 101,Dubai,United Arab Emirates,425.0,1394,101,2017,27
27,28,Trump International Hotel and Tower,Chicago,United States,423.2,1388,96,2009,28
28,29,Jin Mao Tower,Shanghai,China,421.0,1381,88,1998,29
29,30,Princess Tower,Dubai,United Arab Emirates,414.0,1358,101,2012,30
30,31,Al Hamra Tower,Kuwait City,Kuwait,412.6,1354,80,2010,31
31,32,Two International Finance Centre,Hong Kong,China,412.0,1352,88,2003,32