In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/gapminder.csv')
df

          country  year continent  lifeExp       pop    gdpPercap
0     Afghanistan  1952      Asia   28.801   8425333   779.445314
1     Afghanistan  1957      Asia   30.332   9240934   820.853030
2     Afghanistan  1962      Asia   31.997  10267083   853.100710
3     Afghanistan  1967      Asia   34.020  11537966   836.197138
4     Afghanistan  1972      Asia   36.088  13079460   739.981106
5     Afghanistan  1977      Asia   38.438  14880372   786.113360
6     Afghanistan  1982      Asia   39.854  12881816   978.011439
7     Afghanistan  1987      Asia   40.822  13867957   852.395945
8     Afghanistan  1992      Asia   41.674  16317921   649.341395
9     Afghanistan  1997      Asia   41.763  22227415   635.341351
10    Afghanistan  2002      Asia   42.129  25268405   726.734055
11    Afghanistan  2007      Asia   43.828  31889923   974.580338
12        Albania  1952    Europe   55.230   1282697  1601.056136
13        Albania  1957    Europe   59.280   1476505  1942.284244
14        Albania  1962    Europe   64.820   1728137  2312.888958
15        Albania  1967    Europe   66.220   1984060  2760.196931
16        Albania  1972    Europe   67.690   2263554  3313.422188
17        Albania  1977    Europe   68.930   2509048  3533.003910
18        Albania  1982    Europe   70.420   2780097  3630.880722
19        Albania  1987    Europe   72.000   3075321  3738.932735
20        Albania  1992    Europe   71.581   3326498  2497.437901
21        Albania  1997    Europe   72.950   3428038  3193.054604
22        Albania  2002    Europe   75.651   3508512  4604.211737
23        Albania  2007    Europe   76.423   3600523  5937.029526
24        Algeria  1952    Africa   43.077   9279525  2449.008185
25        Algeria  1957    Africa   45.685  10270856  3013.976023
26        Algeria  1962    Africa   48.303  11000948  2550.816880
27        Algeria  1967    Africa   51.407  12760499  3246.991771
28        Algeria  1972    Africa   54.518  14760787  4182.663766
29        Algeria  1977    Africa   58.014  17152804  4910.416756
...           ...   ...       ...      ...       ...          ...
1674  Yemen, Rep.  1982      Asia   49.113   9657618  1977.557010
1675  Yemen, Rep.  1987      Asia   52.922  11219340  1971.741538
1676  Yemen, Rep.  1992      Asia   55.599  13367997  1879.496673
1677  Yemen, Rep.  1997      Asia   58.020  15826497  2117.484526
1678  Yemen, Rep.  2002      Asia   60.308  18701257  2234.820827
1679  Yemen, Rep.  2007      Asia   62.698  22211743  2280.769906
1680       Zambia  1952    Africa   42.038   2672000  1147.388831
1681       Zambia  1957    Africa   44.077   3016000  1311.956766
1682       Zambia  1962    Africa   46.023   3421000  1452.725766
1683       Zambia  1967    Africa   47.768   3900000  1777.077318
1684       Zambia  1972    Africa   50.107   4506497  1773.498265
1685       Zambia  1977    Africa   51.386   5216550  1588.688299
1686       Zambia  1982    Africa   51.821   6100407  1408.678565
1687       Zambia  1987    Africa   50.821   7272406  1213.315116
1688       Zambia  1992    Africa   46.100   8381163  1210.884633
1689       Zambia  1997    Africa   40.238   9417789  1071.353818
1690       Zambia  2002    Africa   39.193  10595811  1071.613938
1691       Zambia  2007    Africa   42.384  11746035  1271.211593
1692     Zimbabwe  1952    Africa   48.451   3080907   406.884115
1693     Zimbabwe  1957    Africa   50.469   3646340   518.764268
1694     Zimbabwe  1962    Africa   52.358   4277736   527.272182
1695     Zimbabwe  1967    Africa   53.995   4995432   569.795071
1696     Zimbabwe  1972    Africa   55.635   5861135   799.362176
1697     Zimbabwe  1977    Africa   57.674   6642107   685.587682
1698     Zimbabwe  1982    Africa   60.363   7636524   788.855041
1699     Zimbabwe  1987    Africa   62.351   9216418   706.157306
1700     Zimbabwe  1992    Africa   60.377  10704340   693.420786
1701     Zimbabwe  1997    Africa   46.809  11404948   792.449960
1702     Zimbabwe  2002    Africa   39.989  11926563   672.038623
1703     Zimbabwe  2007    Africa   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [4]:
df.shape

(1704, 6)

In [5]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
year         1704 non-null int64
continent    1704 non-null object
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 266.8 KB

In [6]:
df.memory_usage(deep=True)

Index            80
country      111360
year          13632
continent    107184
lifeExp       13632
pop           13632
gdpPercap     13632
dtype: int64

In [7]:
df['country_cate'] = df.country.astype('category')

In [8]:
df

          country  year continent  lifeExp       pop    gdpPercap country_cate
0     Afghanistan  1952      Asia   28.801   8425333   779.445314  Afghanistan
1     Afghanistan  1957      Asia   30.332   9240934   820.853030  Afghanistan
2     Afghanistan  1962      Asia   31.997  10267083   853.100710  Afghanistan
3     Afghanistan  1967      Asia   34.020  11537966   836.197138  Afghanistan
4     Afghanistan  1972      Asia   36.088  13079460   739.981106  Afghanistan
5     Afghanistan  1977      Asia   38.438  14880372   786.113360  Afghanistan
6     Afghanistan  1982      Asia   39.854  12881816   978.011439  Afghanistan
7     Afghanistan  1987      Asia   40.822  13867957   852.395945  Afghanistan
8     Afghanistan  1992      Asia   41.674  16317921   649.341395  Afghanistan
9     Afghanistan  1997      Asia   41.763  22227415   635.341351  Afghanistan
10    Afghanistan  2002      Asia   42.129  25268405   726.734055  Afghanistan
11    Afghanistan  2007      Asia   43.828  31889923   974.580338  Afghanistan
12        Albania  1952    Europe   55.230   1282697  1601.056136      Albania
13        Albania  1957    Europe   59.280   1476505  1942.284244      Albania
14        Albania  1962    Europe   64.820   1728137  2312.888958      Albania
15        Albania  1967    Europe   66.220   1984060  2760.196931      Albania
16        Albania  1972    Europe   67.690   2263554  3313.422188      Albania
17        Albania  1977    Europe   68.930   2509048  3533.003910      Albania
18        Albania  1982    Europe   70.420   2780097  3630.880722      Albania
19        Albania  1987    Europe   72.000   3075321  3738.932735      Albania
20        Albania  1992    Europe   71.581   3326498  2497.437901      Albania
21        Albania  1997    Europe   72.950   3428038  3193.054604      Albania
22        Albania  2002    Europe   75.651   3508512  4604.211737      Albania
23        Albania  2007    Europe   76.423   3600523  5937.029526      Albania
24        Algeria  1952    Africa   43.077   9279525  2449.008185      Algeria
25        Algeria  1957    Africa   45.685  10270856  3013.976023      Algeria
26        Algeria  1962    Africa   48.303  11000948  2550.816880      Algeria
27        Algeria  1967    Africa   51.407  12760499  3246.991771      Algeria
28        Algeria  1972    Africa   54.518  14760787  4182.663766      Algeria
29        Algeria  1977    Africa   58.014  17152804  4910.416756      Algeria
...           ...   ...       ...      ...       ...          ...          ...
1674  Yemen, Rep.  1982      Asia   49.113   9657618  1977.557010  Yemen, Rep.
1675  Yemen, Rep.  1987      Asia   52.922  11219340  1971.741538  Yemen, Rep.
1676  Yemen, Rep.  1992      Asia   55.599  13367997  1879.496673  Yemen, Rep.
1677  Yemen, Rep.  1997      Asia   58.020  15826497  2117.484526  Yemen, Rep.
1678  Yemen, Rep.  2002      Asia   60.308  18701257  2234.820827  Yemen, Rep.
1679  Yemen, Rep.  2007      Asia   62.698  22211743  2280.769906  Yemen, Rep.
1680       Zambia  1952    Africa   42.038   2672000  1147.388831       Zambia
1681       Zambia  1957    Africa   44.077   3016000  1311.956766       Zambia
1682       Zambia  1962    Africa   46.023   3421000  1452.725766       Zambia
1683       Zambia  1967    Africa   47.768   3900000  1777.077318       Zambia
1684       Zambia  1972    Africa   50.107   4506497  1773.498265       Zambia
1685       Zambia  1977    Africa   51.386   5216550  1588.688299       Zambia
1686       Zambia  1982    Africa   51.821   6100407  1408.678565       Zambia
1687       Zambia  1987    Africa   50.821   7272406  1213.315116       Zambia
1688       Zambia  1992    Africa   46.100   8381163  1210.884633       Zambia
1689       Zambia  1997    Africa   40.238   9417789  1071.353818       Zambia
1690       Zambia  2002    Africa   39.193  10595811  1071.613938       Zambia
1691       Zambia  2007    Africa   42.384  11746035  1271.211593       Zambia
1692     Zimbabwe  1952    Africa   48.451   3080907   406.884115     Zimbabwe
1693     Zimbabwe  1957    Africa   50.469   3646340   518.764268     Zimbabwe
1694     Zimbabwe  1962    Africa   52.358   4277736   527.272182     Zimbabwe
1695     Zimbabwe  1967    Africa   53.995   4995432   569.795071     Zimbabwe
1696     Zimbabwe  1972    Africa   55.635   5861135   799.362176     Zimbabwe
1697     Zimbabwe  1977    Africa   57.674   6642107   685.587682     Zimbabwe
1698     Zimbabwe  1982    Africa   60.363   7636524   788.855041     Zimbabwe
1699     Zimbabwe  1987    Africa   62.351   9216418   706.157306     Zimbabwe
1700     Zimbabwe  1992    Africa   60.377  10704340   693.420786     Zimbabwe
1701     Zimbabwe  1997    Africa   46.809  11404948   792.449960     Zimbabwe
1702     Zimbabwe  2002    Africa   39.989  11926563   672.038623     Zimbabwe
1703     Zimbabwe  2007    Africa   43.487  12311143   469.709298     Zimbabwe

[1704 rows x 7 columns]

In [11]:
df.memory_usage(deep=True)

Index               80
country         111360
year             13632
continent       107184
lifeExp          13632
pop              13632
gdpPercap        13632
country_cate     17808
dtype: int64

In [14]:
df.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [15]:
df.continent.unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [16]:
df['continent_cate'] = df.continent.astype('category')

In [17]:
df.memory_usage(deep=True)

Index                 80
country           111360
year               13632
continent         107184
lifeExp            13632
pop                13632
gdpPercap          13632
country_cate       17808
continent_cate      2180
dtype: int64

# Use category at start

In [18]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/gapminder.csv', dtype={'country':'category', 'continent':'category'})
df

          country  year continent  lifeExp       pop    gdpPercap
0     Afghanistan  1952      Asia   28.801   8425333   779.445314
1     Afghanistan  1957      Asia   30.332   9240934   820.853030
2     Afghanistan  1962      Asia   31.997  10267083   853.100710
3     Afghanistan  1967      Asia   34.020  11537966   836.197138
4     Afghanistan  1972      Asia   36.088  13079460   739.981106
5     Afghanistan  1977      Asia   38.438  14880372   786.113360
6     Afghanistan  1982      Asia   39.854  12881816   978.011439
7     Afghanistan  1987      Asia   40.822  13867957   852.395945
8     Afghanistan  1992      Asia   41.674  16317921   649.341395
9     Afghanistan  1997      Asia   41.763  22227415   635.341351
10    Afghanistan  2002      Asia   42.129  25268405   726.734055
11    Afghanistan  2007      Asia   43.828  31889923   974.580338
12        Albania  1952    Europe   55.230   1282697  1601.056136
13        Albania  1957    Europe   59.280   1476505  1942.284244
14        Albania  1962    Europe   64.820   1728137  2312.888958
15        Albania  1967    Europe   66.220   1984060  2760.196931
16        Albania  1972    Europe   67.690   2263554  3313.422188
17        Albania  1977    Europe   68.930   2509048  3533.003910
18        Albania  1982    Europe   70.420   2780097  3630.880722
19        Albania  1987    Europe   72.000   3075321  3738.932735
20        Albania  1992    Europe   71.581   3326498  2497.437901
21        Albania  1997    Europe   72.950   3428038  3193.054604
22        Albania  2002    Europe   75.651   3508512  4604.211737
23        Albania  2007    Europe   76.423   3600523  5937.029526
24        Algeria  1952    Africa   43.077   9279525  2449.008185
25        Algeria  1957    Africa   45.685  10270856  3013.976023
26        Algeria  1962    Africa   48.303  11000948  2550.816880
27        Algeria  1967    Africa   51.407  12760499  3246.991771
28        Algeria  1972    Africa   54.518  14760787  4182.663766
29        Algeria  1977    Africa   58.014  17152804  4910.416756
...           ...   ...       ...      ...       ...          ...
1674  Yemen, Rep.  1982      Asia   49.113   9657618  1977.557010
1675  Yemen, Rep.  1987      Asia   52.922  11219340  1971.741538
1676  Yemen, Rep.  1992      Asia   55.599  13367997  1879.496673
1677  Yemen, Rep.  1997      Asia   58.020  15826497  2117.484526
1678  Yemen, Rep.  2002      Asia   60.308  18701257  2234.820827
1679  Yemen, Rep.  2007      Asia   62.698  22211743  2280.769906
1680       Zambia  1952    Africa   42.038   2672000  1147.388831
1681       Zambia  1957    Africa   44.077   3016000  1311.956766
1682       Zambia  1962    Africa   46.023   3421000  1452.725766
1683       Zambia  1967    Africa   47.768   3900000  1777.077318
1684       Zambia  1972    Africa   50.107   4506497  1773.498265
1685       Zambia  1977    Africa   51.386   5216550  1588.688299
1686       Zambia  1982    Africa   51.821   6100407  1408.678565
1687       Zambia  1987    Africa   50.821   7272406  1213.315116
1688       Zambia  1992    Africa   46.100   8381163  1210.884633
1689       Zambia  1997    Africa   40.238   9417789  1071.353818
1690       Zambia  2002    Africa   39.193  10595811  1071.613938
1691       Zambia  2007    Africa   42.384  11746035  1271.211593
1692     Zimbabwe  1952    Africa   48.451   3080907   406.884115
1693     Zimbabwe  1957    Africa   50.469   3646340   518.764268
1694     Zimbabwe  1962    Africa   52.358   4277736   527.272182
1695     Zimbabwe  1967    Africa   53.995   4995432   569.795071
1696     Zimbabwe  1972    Africa   55.635   5861135   799.362176
1697     Zimbabwe  1977    Africa   57.674   6642107   685.587682
1698     Zimbabwe  1982    Africa   60.363   7636524   788.855041
1699     Zimbabwe  1987    Africa   62.351   9216418   706.157306
1700     Zimbabwe  1992    Africa   60.377  10704340   693.420786
1701     Zimbabwe  1997    Africa   46.809  11404948   792.449960
1702     Zimbabwe  2002    Africa   39.989  11926563   672.038623
1703     Zimbabwe  2007    Africa   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null category
year         1704 non-null int64
continent    1704 non-null category
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: category(2), float64(2), int64(2)
memory usage: 59.6 KB

In [19]:
df.memory_usage(deep=True)

Index           80
country      12688
year         13632
continent     2180
lifeExp      13632
pop          13632
gdpPercap    13632
dtype: int64

In [21]:
df.continent.cat.categories

Index(['Africa', 'Americas', 'Asia', 'Europe', 'Oceania'], dtype='object')

In [23]:
df.continent.cat.codes      #ข้อมูลจะแทนด้วยตัวเลข

0       2
1       2
2       2
3       2
4       2
5       2
6       2
7       2
8       2
9       2
10      2
11      2
12      3
13      3
14      3
15      3
16      3
17      3
18      3
19      3
20      3
21      3
22      3
23      3
24      0
25      0
26      0
27      0
28      0
29      0
       ..
1674    2
1675    2
1676    2
1677    2
1678    2
1679    2
1680    0
1681    0
1682    0
1683    0
1684    0
1685    0
1686    0
1687    0
1688    0
1689    0
1690    0
1691    0
1692    0
1693    0
1694    0
1695    0
1696    0
1697    0
1698    0
1699    0
1700    0
1701    0
1702    0
1703    0
Length: 1704, dtype: int8

In [24]:
df['continent_cate'] = df.continent.cat.codes

In [25]:
df

,country,year,continent,lifeExp,pop,gdpPercap,continent_cate
0,Afghanistan,1952,Asia,28.801,8425333,779.445314,2
1,Afghanistan,1957,Asia,30.332,9240934,820.853030,2
2,Afghanistan,1962,Asia,31.997,10267083,853.100710,2
3,Afghanistan,1967,Asia,34.020,11537966,836.197138,2
4,Afghanistan,1972,Asia,36.088,13079460,739.981106,2
5,Afghanistan,1977,Asia,38.438,14880372,786.113360,2
6,Afghanistan,1982,Asia,39.854,12881816,978.011439,2
7,Afghanistan,1987,Asia,40.822,13867957,852.395945,2
8,Afghanistan,1992,Asia,41.674,16317921,649.341395,2
9,Afghanistan,1997,Asia,41.763,22227415,635.341351,2
10,Afghanistan,2002,Asia,42.129,25268405,726.734055,2
11,Afghanistan,2007,Asia,43.828,31889923,974.580338,2
12,Albania,1952,Europe,55.230,1282697,1601.056136,3
13,Albania,1957,Europe,59.280,1476505,1942.284244,3
14,Albania,1962,Europe,64.820,1728137,2312.888958,3
15,Albania,1967,Europe,66.220,1984060,2760.196931,3
16,Albania,1972,Europe,67.690,2263554,3313.422188,3
17,Albania,1977,Europe,68.930,2509048,3533.003910,3
18,Albania,1982,Europe,70.420,2780097,3630.880722,3
19,Albania,1987,Europe,72.000,3075321,3738.932735,3
20,Albania,1992,Europe,71.581,3326498,2497.437901,3
21,Albania,1997,Europe,72.950,3428038,3193.054604,3
22,Albania,2002,Europe,75.651,3508512,4604.211737,3
23,Albania,2007,Europe,76.423,3600523,5937.029526,3
24,Algeria,1952,Africa,43.077,9279525,2449.008185,0
25,Algeria,1957,Africa,45.685,10270856,3013.976023,0
26,Algeria,1962,Africa,48.303,11000948,2550.816880,0
27,Algeria,1967,Africa,51.407,12760499,3246.991771,0
28,Algeria,1972,Africa,54.518,14760787,4182.663766,0
29,Algeria,1977,Africa,58.014,17152804,4910.416756,0
...,...,...,...,...,...,...,...
1674,"Yemen, Rep.",1982,Asia,49.113,9657618,1977.557010,2
1675,"Yemen, Rep.",1987,Asia,52.922,11219340,1971.741538,2
1676,"Yemen, Rep.",1992,Asia,55.599,13367997,1879.496673,2
1677,"Yemen, Rep.",1997,Asia,58.020,15826497,2117.484526,2
1678,"Yemen, Rep.",2002,Asia,60.308,18701257,2234.820827,2
1679,"Yemen, Rep.",2007,Asia,62.698,22211743,2280.769906,2
1680,Zambia,1952,Africa,42.038,2672000,1147.388831,0
1681,Zambia,1957,Africa,44.077,3016000,1311.956766,0
1682,Zambia,1962,Africa,46.023,3421000,1452.725766,0
1683,Zambia,1967,Africa,47.768,3900000,1777.077318,0
1684,Zambia,1972,Africa,50.107,4506497,1773.498265,0
1685,Zambia,1977,Africa,51.386,5216550,1588.688299,0
1686,Zambia,1982,Africa,51.821,6100407,1408.678565,0
1687,Zambia,1987,Africa,50.821,7272406,1213.315116,0
1688,Zambia,1992,Africa,46.100,8381163,1210.884633,0
1689,Zambia,1997,Africa,40.238,9417789,1071.353818,0
1690,Zambia,2002,Africa,39.193,10595811,1071.613938,0
1691,Zambia,2007,Africa,42.384,11746035,1271.211593,0
1692,Zimbabwe,1952,Africa,48.451,3080907,406.884115,0
1693,Zimbabwe,1957,Africa,50.469,3646340,518.764268,0
1694,Zimbabwe,1962,Africa,52.358,4277736,527.272182,0
1695,Zimbabwe,1967,Africa,53.995,4995432,569.795071,0
1696,Zimbabwe,1972,Africa,55.635,5861135,799.362176,0
1697,Zimbabwe,1977,Africa,57.674,6642107,685.587682,0
1698,Zimbabwe,1982,Africa,60.363,7636524,788.855041,0
1699,Zimbabwe,1987,Africa,62.351,9216418,706.157306,0
1700,Zimbabwe,1992,Africa,60.377,10704340,693.420786,0
1701,Zimbabwe,1997,Africa,46.809,11404948,792.449960,0
1702,Zimbabwe,2002,Africa,39.989,11926563,672.038623,0
1703,Zimbabwe,2007,Africa,43.487,12311143,469.709298,0

In [28]:
pd.get_dummies(df.continent)[:20]

    Africa  Americas  Asia  Europe  Oceania
0        0         0     1       0        0
1        0         0     1       0        0
2        0         0     1       0        0
3        0         0     1       0        0
4        0         0     1       0        0
5        0         0     1       0        0
6        0         0     1       0        0
7        0         0     1       0        0
8        0         0     1       0        0
9        0         0     1       0        0
10       0         0     1       0        0
11       0         0     1       0        0
12       0         0     0       1        0
13       0         0     0       1        0
14       0         0     0       1        0
15       0         0     0       1        0
16       0         0     0       1        0
17       0         0     0       1        0
18       0         0     0       1        0
19       0         0     0       1        0

In [29]:
pd.concat([df, pd.get_dummies(df.continent)], axis=1)

,country,year,continent,lifeExp,pop,gdpPercap,continent_cate,Africa,Americas,Asia,Europe,Oceania
0,Afghanistan,1952,Asia,28.801,8425333,779.445314,2,0,0,1,0,0
1,Afghanistan,1957,Asia,30.332,9240934,820.853030,2,0,0,1,0,0
2,Afghanistan,1962,Asia,31.997,10267083,853.100710,2,0,0,1,0,0
3,Afghanistan,1967,Asia,34.020,11537966,836.197138,2,0,0,1,0,0
4,Afghanistan,1972,Asia,36.088,13079460,739.981106,2,0,0,1,0,0
5,Afghanistan,1977,Asia,38.438,14880372,786.113360,2,0,0,1,0,0
6,Afghanistan,1982,Asia,39.854,12881816,978.011439,2,0,0,1,0,0
7,Afghanistan,1987,Asia,40.822,13867957,852.395945,2,0,0,1,0,0
8,Afghanistan,1992,Asia,41.674,16317921,649.341395,2,0,0,1,0,0
9,Afghanistan,1997,Asia,41.763,22227415,635.341351,2,0,0,1,0,0
10,Afghanistan,2002,Asia,42.129,25268405,726.734055,2,0,0,1,0,0
11,Afghanistan,2007,Asia,43.828,31889923,974.580338,2,0,0,1,0,0
12,Albania,1952,Europe,55.230,1282697,1601.056136,3,0,0,0,1,0
13,Albania,1957,Europe,59.280,1476505,1942.284244,3,0,0,0,1,0
14,Albania,1962,Europe,64.820,1728137,2312.888958,3,0,0,0,1,0
15,Albania,1967,Europe,66.220,1984060,2760.196931,3,0,0,0,1,0
16,Albania,1972,Europe,67.690,2263554,3313.422188,3,0,0,0,1,0
17,Albania,1977,Europe,68.930,2509048,3533.003910,3,0,0,0,1,0
18,Albania,1982,Europe,70.420,2780097,3630.880722,3,0,0,0,1,0
19,Albania,1987,Europe,72.000,3075321,3738.932735,3,0,0,0,1,0
20,Albania,1992,Europe,71.581,3326498,2497.437901,3,0,0,0,1,0
21,Albania,1997,Europe,72.950,3428038,3193.054604,3,0,0,0,1,0
22,Albania,2002,Europe,75.651,3508512,4604.211737,3,0,0,0,1,0
23,Albania,2007,Europe,76.423,3600523,5937.029526,3,0,0,0,1,0
24,Algeria,1952,Africa,43.077,9279525,2449.008185,0,1,0,0,0,0
25,Algeria,1957,Africa,45.685,10270856,3013.976023,0,1,0,0,0,0
26,Algeria,1962,Africa,48.303,11000948,2550.816880,0,1,0,0,0,0
27,Algeria,1967,Africa,51.407,12760499,3246.991771,0,1,0,0,0,0
28,Algeria,1972,Africa,54.518,14760787,4182.663766,0,1,0,0,0,0
29,Algeria,1977,Africa,58.014,17152804,4910.416756,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1674,"Yemen, Rep.",1982,Asia,49.113,9657618,1977.557010,2,0,0,1,0,0
1675,"Yemen, Rep.",1987,Asia,52.922,11219340,1971.741538,2,0,0,1,0,0
1676,"Yemen, Rep.",1992,Asia,55.599,13367997,1879.496673,2,0,0,1,0,0
1677,"Yemen, Rep.",1997,Asia,58.020,15826497,2117.484526,2,0,0,1,0,0
1678,"Yemen, Rep.",2002,Asia,60.308,18701257,2234.820827,2,0,0,1,0,0
1679,"Yemen, Rep.",2007,Asia,62.698,22211743,2280.769906,2,0,0,1,0,0
1680,Zambia,1952,Africa,42.038,2672000,1147.388831,0,1,0,0,0,0
1681,Zambia,1957,Africa,44.077,3016000,1311.956766,0,1,0,0,0,0
1682,Zambia,1962,Africa,46.023,3421000,1452.725766,0,1,0,0,0,0
1683,Zambia,1967,Africa,47.768,3900000,1777.077318,0,1,0,0,0,0
1684,Zambia,1972,Africa,50.107,4506497,1773.498265,0,1,0,0,0,0
1685,Zambia,1977,Africa,51.386,5216550,1588.688299,0,1,0,0,0,0
1686,Zambia,1982,Africa,51.821,6100407,1408.678565,0,1,0,0,0,0
1687,Zambia,1987,Africa,50.821,7272406,1213.315116,0,1,0,0,0,0
1688,Zambia,1992,Africa,46.100,8381163,1210.884633,0,1,0,0,0,0
1689,Zambia,1997,Africa,40.238,9417789,1071.353818,0,1,0,0,0,0
1690,Zambia,2002,Africa,39.193,10595811,1071.613938,0,1,0,0,0,0
1691,Zambia,2007,Africa,42.384,11746035,1271.211593,0,1,0,0,0,0
1692,Zimbabwe,1952,Africa,48.451,3080907,406.884115,0,1,0,0,0,0
1693,Zimbabwe,1957,Africa,50.469,3646340,518.764268,0,1,0,0,0,0
1694,Zimbabwe,1962,Africa,52.358,4277736,527.272182,0,1,0,0,0,0
1695,Zimbabwe,1967,Africa,53.995,4995432,569.795071,0,1,0,0,0,0
1696,Zimbabwe,1972,Africa,55.635,5861135,799.362176,0,1,0,0,0,0
1697,Zimbabwe,1977,Africa,57.674,6642107,685.587682,0,1,0,0,0,0
1698,Zimbabwe,1982,Africa,60.363,7636524,788.855041,0,1,0,0,0,0
1699,Zimbabwe,1987,Africa,62.351,9216418,706.157306,0,1,0,0,0,0
1700,Zimbabwe,1992,Africa,60.377,10704340,693.420786,0,1,0,0,0,0
1701,Zimbabwe,1997,Africa,46.809,11404948,792.449960,0,1,0,0,0,0
1702,Zimbabwe,2002,Africa,39.989,11926563,672.038623,0,1,0,0,0,0
1703,Zimbabwe,2007,Africa,43.487,12311143,469.709298,0,1,0,0,0,0