In [45]:
import pandas as pd

In [46]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/Programme_for_International_Student_Assessment',
                 match='Singapore')

In [47]:
dfs[1]

     0                     1    2
0    1             Singapore  564
1    2             Hong Kong  548
2    3                 Macau  544
3    4                Taiwan  542
4    5                 Japan  532
5    6                 China  531
6    7           South Korea  524
7    8           Switzerland  521
8    9               Estonia  520
9   10                Canada  516
10  11           Netherlands  512
11  12               Denmark  511
12  13               Finland  511
13  14              Slovenia  510
14  15               Belgium  507
15  16               Germany  506
16  17                Poland  504
17  18               Ireland  504
18  19                Norway  502
19  20               Austria  497
20  21           New Zealand  495
21  22               Vietnam  495
22  23                Russia  494
23  24                Sweden  494
24  25             Australia  494
25  26                France  493
26  27        United Kingdom  492
27  28        Czech Republic  492
28  29              Portugal  492
29  30                 Italy  490
..  ..                   ...  ...
40  41               Croatia  464
41  42            Kazakhstan  460
42  43                Greece  454
43  44               Romania  444
44  46              Bulgaria  441
45  47                Cyprus  437
46  48  United Arab Emirates  427
47  49                 Chile  423
48  50                Turkey  420
49  51               Moldova  420
50  52               Uruguay  418
51  53            Montenegro  418
52  54   Trinidad and Tobago  417
53  55              Thailand  415
54  56               Albania  413
55  57                Mexico  408
56  59               Georgia  404
57  60                 Qatar  402
58  61            Costa Rica  400
59  62               Lebanon  396
60  63              Colombia  390
61  64                  Peru  387
62  65             Indonesia  386
63  66                Jordan  380
64  67                Brazil  377
65  68             Macedonia  371
66  69               Tunisia  367
67  70                Kosovo  362
68  71               Algeria  360
69  72    Dominican Republic  328

[70 rows x 3 columns]

In [53]:
dfs[2]

     0                     1    2
0    1             Singapore  556
1    2                 Japan  538
2    3               Estonia  534
3    4                Taiwan  532
4    5               Finland  531
5    6                 Macau  529
6    7                Canada  528
7    8               Vietnam  525
8    9             Hong Kong  523
9   10                 China  518
10  11           South Korea  516
11  12           New Zealand  513
12  13              Slovenia  513
13  14             Australia  510
14  15        United Kingdom  509
15  16               Germany  509
16  17           Netherlands  509
17  18           Switzerland  506
18  19               Ireland  503
19  20               Belgium  502
20  21               Denmark  502
21  22                Poland  501
22  23              Portugal  501
23  24                Norway  498
24  25         United States  496
25  26               Austria  495
26  27                France  495
27  28                Sweden  493
28  29        Czech Republic  493
29  30                 Spain  493
..  ..                   ...  ...
40  41              Slovakia  461
41  42            Kazakhstan  456
42  43                Greece  455
43  44                 Chile  447
44  45              Bulgaria  446
45  46  United Arab Emirates  437
46  48               Uruguay  435
47  49               Romania  435
48  50                Cyprus  433
49  52               Moldova  428
50  53               Albania  427
51  54                Turkey  425
52  55   Trinidad and Tobago  425
53  56              Thailand  421
54  57            Costa Rica  420
55  58                 Qatar  418
56  59              Colombia  416
57  60                Mexico  404
58  61            Montenegro  411
59  62               Georgia  411
60  63                Jordan  409
61  64             Indonesia  403
62  65                Brazil  401
63  66                  Peru  397
64  67               Lebanon  386
65  68               Tunisia  386
66  69             Macedonia  384
67  70                Kosovo  378
68  71               Algeria  376
69  72    Dominican Republic  332

[70 rows x 3 columns]

In [55]:
dfs[3]

     0                     1    2
0    1             Singapore  535
1    2             Hong Kong  527
2    3                Canada  527
3    4               Finland  526
4    5               Ireland  521
5    6               Estonia  519
6    7           South Korea  517
7    8                 Japan  516
8    9                Norway  513
9   10           New Zealand  509
10  11               Germany  509
11  12                 Macau  509
12  13                Poland  506
13  14              Slovenia  505
14  15           Netherlands  503
15  16             Australia  503
16  17                Sweden  500
17  18               Denmark  500
18  19                France  499
19  20               Belgium  499
20  21              Portugal  498
21  22        United Kingdom  498
22  23                Taiwan  497
23  24         United States  497
24  25                 Spain  496
25  26                Russia  495
26  27                 China  494
27  28           Switzerland  492
28  29                Latvia  488
29  30        Czech Republic  487
..  ..                   ...  ...
40  41                 Chile  459
41  42              Slovakia  453
42  43                 Malta  447
43  44                Cyprus  443
44  45               Uruguay  437
45  46               Romania  434
46  47  United Arab Emirates  434
47  48              Bulgaria  432
48  49                Turkey  428
49  51            Costa Rica  427
50  52   Trinidad and Tobago  427
51  53            Kazakhstan  427
52  54            Montenegro  427
53  56              Colombia  425
54  57                Mexico  423
55  58               Moldova  416
56  59              Thailand  409
57  60                Jordan  408
58  61                Brazil  407
59  62               Albania  405
60  63                 Qatar  402
61  64               Georgia  401
62  65                  Peru  398
63  66             Indonesia  397
64  67               Tunisia  361
65  68    Dominican Republic  358
66  69             Macedonia  352
67  70               Algeria  350
68  71                Kosovo  347
69  72               Lebanon  347

[70 rows x 3 columns]

In [48]:
maths= dfs[1]

In [54]:
sci = dfs[2]

In [56]:
reading = dfs[3]

In [49]:
maths.columns

Int64Index([0, 1, 2], dtype='int64')

In [50]:
maths.rename(columns={0:'Rank', 1:'Country', 2:'Maths'}, inplace=True)

In [51]:
maths

    Rank               Country  Maths
0      1             Singapore    564
1      2             Hong Kong    548
2      3                 Macau    544
3      4                Taiwan    542
4      5                 Japan    532
5      6                 China    531
6      7           South Korea    524
7      8           Switzerland    521
8      9               Estonia    520
9     10                Canada    516
10    11           Netherlands    512
11    12               Denmark    511
12    13               Finland    511
13    14              Slovenia    510
14    15               Belgium    507
15    16               Germany    506
16    17                Poland    504
17    18               Ireland    504
18    19                Norway    502
19    20               Austria    497
20    21           New Zealand    495
21    22               Vietnam    495
22    23                Russia    494
23    24                Sweden    494
24    25             Australia    494
25    26                France    493
26    27        United Kingdom    492
27    28        Czech Republic    492
28    29              Portugal    492
29    30                 Italy    490
..   ...                   ...    ...
40    41               Croatia    464
41    42            Kazakhstan    460
42    43                Greece    454
43    44               Romania    444
44    46              Bulgaria    441
45    47                Cyprus    437
46    48  United Arab Emirates    427
47    49                 Chile    423
48    50                Turkey    420
49    51               Moldova    420
50    52               Uruguay    418
51    53            Montenegro    418
52    54   Trinidad and Tobago    417
53    55              Thailand    415
54    56               Albania    413
55    57                Mexico    408
56    59               Georgia    404
57    60                 Qatar    402
58    61            Costa Rica    400
59    62               Lebanon    396
60    63              Colombia    390
61    64                  Peru    387
62    65             Indonesia    386
63    66                Jordan    380
64    67                Brazil    377
65    68             Macedonia    371
66    69               Tunisia    367
67    70                Kosovo    362
68    71               Algeria    360
69    72    Dominican Republic    328

[70 rows x 3 columns]

In [59]:
sci.rename(columns={0:'Rank', 1:'Country', 2:'Science'}, inplace=True)

In [60]:
sci

    Rank               Country  Science
0      1             Singapore      556
1      2                 Japan      538
2      3               Estonia      534
3      4                Taiwan      532
4      5               Finland      531
5      6                 Macau      529
6      7                Canada      528
7      8               Vietnam      525
8      9             Hong Kong      523
9     10                 China      518
10    11           South Korea      516
11    12           New Zealand      513
12    13              Slovenia      513
13    14             Australia      510
14    15        United Kingdom      509
15    16               Germany      509
16    17           Netherlands      509
17    18           Switzerland      506
18    19               Ireland      503
19    20               Belgium      502
20    21               Denmark      502
21    22                Poland      501
22    23              Portugal      501
23    24                Norway      498
24    25         United States      496
25    26               Austria      495
26    27                France      495
27    28                Sweden      493
28    29        Czech Republic      493
29    30                 Spain      493
..   ...                   ...      ...
40    41              Slovakia      461
41    42            Kazakhstan      456
42    43                Greece      455
43    44                 Chile      447
44    45              Bulgaria      446
45    46  United Arab Emirates      437
46    48               Uruguay      435
47    49               Romania      435
48    50                Cyprus      433
49    52               Moldova      428
50    53               Albania      427
51    54                Turkey      425
52    55   Trinidad and Tobago      425
53    56              Thailand      421
54    57            Costa Rica      420
55    58                 Qatar      418
56    59              Colombia      416
57    60                Mexico      404
58    61            Montenegro      411
59    62               Georgia      411
60    63                Jordan      409
61    64             Indonesia      403
62    65                Brazil      401
63    66                  Peru      397
64    67               Lebanon      386
65    68               Tunisia      386
66    69             Macedonia      384
67    70                Kosovo      378
68    71               Algeria      376
69    72    Dominican Republic      332

[70 rows x 3 columns]

In [62]:
reading.rename(columns={0:'Rank', 1:'Country', 2:'Reading'}, inplace=True)

In [63]:
reading

    Rank               Country  Reading
0      1             Singapore      535
1      2             Hong Kong      527
2      3                Canada      527
3      4               Finland      526
4      5               Ireland      521
5      6               Estonia      519
6      7           South Korea      517
7      8                 Japan      516
8      9                Norway      513
9     10           New Zealand      509
10    11               Germany      509
11    12                 Macau      509
12    13                Poland      506
13    14              Slovenia      505
14    15           Netherlands      503
15    16             Australia      503
16    17                Sweden      500
17    18               Denmark      500
18    19                France      499
19    20               Belgium      499
20    21              Portugal      498
21    22        United Kingdom      498
22    23                Taiwan      497
23    24         United States      497
24    25                 Spain      496
25    26                Russia      495
26    27                 China      494
27    28           Switzerland      492
28    29                Latvia      488
29    30        Czech Republic      487
..   ...                   ...      ...
40    41                 Chile      459
41    42              Slovakia      453
42    43                 Malta      447
43    44                Cyprus      443
44    45               Uruguay      437
45    46               Romania      434
46    47  United Arab Emirates      434
47    48              Bulgaria      432
48    49                Turkey      428
49    51            Costa Rica      427
50    52   Trinidad and Tobago      427
51    53            Kazakhstan      427
52    54            Montenegro      427
53    56              Colombia      425
54    57                Mexico      423
55    58               Moldova      416
56    59              Thailand      409
57    60                Jordan      408
58    61                Brazil      407
59    62               Albania      405
60    63                 Qatar      402
61    64               Georgia      401
62    65                  Peru      398
63    66             Indonesia      397
64    67               Tunisia      361
65    68    Dominican Republic      358
66    69             Macedonia      352
67    70               Algeria      350
68    71                Kosovo      347
69    72               Lebanon      347

[70 rows x 3 columns]

# Inner join

In [70]:
df = pd.merge(maths, sci, on='Country', suffixes=['_math', '_science'])    #เชื่อมด้วย Country

In [71]:
df

    Rank_math               Country  Maths  Rank_science  Science
0           1             Singapore    564             1      556
1           2             Hong Kong    548             9      523
2           3                 Macau    544             6      529
3           4                Taiwan    542             4      532
4           5                 Japan    532             2      538
5           6                 China    531            10      518
6           7           South Korea    524            11      516
7           8           Switzerland    521            18      506
8           9               Estonia    520             3      534
9          10                Canada    516             7      528
10         11           Netherlands    512            17      509
11         12               Denmark    511            21      502
12         13               Finland    511             5      531
13         14              Slovenia    510            13      513
14         15               Belgium    507            20      502
15         16               Germany    506            16      509
16         17                Poland    504            22      501
17         18               Ireland    504            19      503
18         19                Norway    502            24      498
19         20               Austria    497            26      495
20         21           New Zealand    495            12      513
21         22               Vietnam    495             8      525
22         23                Russia    494            32      487
23         24                Sweden    494            28      493
24         25             Australia    494            14      510
25         26                France    493            27      495
26         27        United Kingdom    492            15      509
27         28        Czech Republic    492            29      493
28         29              Portugal    492            23      501
29         30                 Italy    490            34      481
..        ...                   ...    ...           ...      ...
40         41               Croatia    464            37      475
41         42            Kazakhstan    460            42      456
42         43                Greece    454            43      455
43         44               Romania    444            49      435
44         46              Bulgaria    441            45      446
45         47                Cyprus    437            50      433
46         48  United Arab Emirates    427            46      437
47         49                 Chile    423            44      447
48         50                Turkey    420            54      425
49         51               Moldova    420            52      428
50         52               Uruguay    418            48      435
51         53            Montenegro    418            61      411
52         54   Trinidad and Tobago    417            55      425
53         55              Thailand    415            56      421
54         56               Albania    413            53      427
55         57                Mexico    408            60      404
56         59               Georgia    404            62      411
57         60                 Qatar    402            58      418
58         61            Costa Rica    400            57      420
59         62               Lebanon    396            67      386
60         63              Colombia    390            59      416
61         64                  Peru    387            66      397
62         65             Indonesia    386            64      403
63         66                Jordan    380            63      409
64         67                Brazil    377            65      401
65         68             Macedonia    371            69      384
66         69               Tunisia    367            68      386
67         70                Kosovo    362            70      378
68         71               Algeria    360            71      376
69         72    Dominican Republic    328            72      332

[70 rows x 5 columns]

In [73]:
df = pd.merge(maths[['Country', 'Maths']], 
             sci[['Country', 'Science']],
             on='Country')

In [74]:
df

                 Country  Maths  Science
0              Singapore    564      556
1              Hong Kong    548      523
2                  Macau    544      529
3                 Taiwan    542      532
4                  Japan    532      538
5                  China    531      518
6            South Korea    524      516
7            Switzerland    521      506
8                Estonia    520      534
9                 Canada    516      528
10           Netherlands    512      509
11               Denmark    511      502
12               Finland    511      531
13              Slovenia    510      513
14               Belgium    507      502
15               Germany    506      509
16                Poland    504      501
17               Ireland    504      503
18                Norway    502      498
19               Austria    497      495
20           New Zealand    495      513
21               Vietnam    495      525
22                Russia    494      487
23                Sweden    494      493
24             Australia    494      510
25                France    493      495
26        United Kingdom    492      509
27        Czech Republic    492      493
28              Portugal    492      501
29                 Italy    490      481
..                   ...    ...      ...
40               Croatia    464      475
41            Kazakhstan    460      456
42                Greece    454      455
43               Romania    444      435
44              Bulgaria    441      446
45                Cyprus    437      433
46  United Arab Emirates    427      437
47                 Chile    423      447
48                Turkey    420      425
49               Moldova    420      428
50               Uruguay    418      435
51            Montenegro    418      411
52   Trinidad and Tobago    417      425
53              Thailand    415      421
54               Albania    413      427
55                Mexico    408      404
56               Georgia    404      411
57                 Qatar    402      418
58            Costa Rica    400      420
59               Lebanon    396      386
60              Colombia    390      416
61                  Peru    387      397
62             Indonesia    386      403
63                Jordan    380      409
64                Brazil    377      401
65             Macedonia    371      384
66               Tunisia    367      386
67                Kosovo    362      378
68               Algeria    360      376
69    Dominican Republic    328      332

[70 rows x 3 columns]

In [75]:
df = pd.merge(df, reading[['Country', 'Reading']], on='Country')

In [76]:
df

                 Country  Maths  Science  Reading
0              Singapore    564      556      535
1              Hong Kong    548      523      527
2                  Macau    544      529      509
3                 Taiwan    542      532      497
4                  Japan    532      538      516
5                  China    531      518      494
6            South Korea    524      516      517
7            Switzerland    521      506      492
8                Estonia    520      534      519
9                 Canada    516      528      527
10           Netherlands    512      509      503
11               Denmark    511      502      500
12               Finland    511      531      526
13              Slovenia    510      513      505
14               Belgium    507      502      499
15               Germany    506      509      509
16                Poland    504      501      506
17               Ireland    504      503      521
18                Norway    502      498      513
19               Austria    497      495      485
20           New Zealand    495      513      509
21               Vietnam    495      525      487
22                Russia    494      487      495
23                Sweden    494      493      500
24             Australia    494      510      503
25                France    493      495      499
26        United Kingdom    492      509      498
27        Czech Republic    492      493      487
28              Portugal    492      501      498
29                 Italy    490      481      485
..                   ...    ...      ...      ...
40               Croatia    464      475      487
41            Kazakhstan    460      456      427
42                Greece    454      455      467
43               Romania    444      435      434
44              Bulgaria    441      446      432
45                Cyprus    437      433      443
46  United Arab Emirates    427      437      434
47                 Chile    423      447      459
48                Turkey    420      425      428
49               Moldova    420      428      416
50               Uruguay    418      435      437
51            Montenegro    418      411      427
52   Trinidad and Tobago    417      425      427
53              Thailand    415      421      409
54               Albania    413      427      405
55                Mexico    408      404      423
56               Georgia    404      411      401
57                 Qatar    402      418      402
58            Costa Rica    400      420      427
59               Lebanon    396      386      347
60              Colombia    390      416      425
61                  Peru    387      397      398
62             Indonesia    386      403      397
63                Jordan    380      409      408
64                Brazil    377      401      407
65             Macedonia    371      384      352
66               Tunisia    367      386      361
67                Kosovo    362      378      347
68               Algeria    360      376      350
69    Dominican Republic    328      332      358

[70 rows x 4 columns]

## ใช้ merge 3 cell

In [81]:
df =  pd.merge(pd.merge(maths[['Country', 'Maths']], 
                 sci[['Country', 'Science']],
                 on='Country') , 
               reading[['Country', 'Reading']] )

In [82]:
df

                 Country  Maths  Science  Reading
0              Singapore    564      556      535
1              Hong Kong    548      523      527
2                  Macau    544      529      509
3                 Taiwan    542      532      497
4                  Japan    532      538      516
5                  China    531      518      494
6            South Korea    524      516      517
7            Switzerland    521      506      492
8                Estonia    520      534      519
9                 Canada    516      528      527
10           Netherlands    512      509      503
11               Denmark    511      502      500
12               Finland    511      531      526
13              Slovenia    510      513      505
14               Belgium    507      502      499
15               Germany    506      509      509
16                Poland    504      501      506
17               Ireland    504      503      521
18                Norway    502      498      513
19               Austria    497      495      485
20           New Zealand    495      513      509
21               Vietnam    495      525      487
22                Russia    494      487      495
23                Sweden    494      493      500
24             Australia    494      510      503
25                France    493      495      499
26        United Kingdom    492      509      498
27        Czech Republic    492      493      487
28              Portugal    492      501      498
29                 Italy    490      481      485
..                   ...    ...      ...      ...
40               Croatia    464      475      487
41            Kazakhstan    460      456      427
42                Greece    454      455      467
43               Romania    444      435      434
44              Bulgaria    441      446      432
45                Cyprus    437      433      443
46  United Arab Emirates    427      437      434
47                 Chile    423      447      459
48                Turkey    420      425      428
49               Moldova    420      428      416
50               Uruguay    418      435      437
51            Montenegro    418      411      427
52   Trinidad and Tobago    417      425      427
53              Thailand    415      421      409
54               Albania    413      427      405
55                Mexico    408      404      423
56               Georgia    404      411      401
57                 Qatar    402      418      402
58            Costa Rica    400      420      427
59               Lebanon    396      386      347
60              Colombia    390      416      425
61                  Peru    387      397      398
62             Indonesia    386      403      397
63                Jordan    380      409      408
64                Brazil    377      401      407
65             Macedonia    371      384      352
66               Tunisia    367      386      361
67                Kosovo    362      378      347
68               Algeria    360      376      350
69    Dominican Republic    328      332      358

[70 rows x 4 columns]

In [83]:
df['Total'] = df.Maths + df.Science + df.Reading

In [84]:
df

                 Country  Maths  Science  Reading  Total
0              Singapore    564      556      535   1655
1              Hong Kong    548      523      527   1598
2                  Macau    544      529      509   1582
3                 Taiwan    542      532      497   1571
4                  Japan    532      538      516   1586
5                  China    531      518      494   1543
6            South Korea    524      516      517   1557
7            Switzerland    521      506      492   1519
8                Estonia    520      534      519   1573
9                 Canada    516      528      527   1571
10           Netherlands    512      509      503   1524
11               Denmark    511      502      500   1513
12               Finland    511      531      526   1568
13              Slovenia    510      513      505   1528
14               Belgium    507      502      499   1508
15               Germany    506      509      509   1524
16                Poland    504      501      506   1511
17               Ireland    504      503      521   1528
18                Norway    502      498      513   1513
19               Austria    497      495      485   1477
20           New Zealand    495      513      509   1517
21               Vietnam    495      525      487   1507
22                Russia    494      487      495   1476
23                Sweden    494      493      500   1487
24             Australia    494      510      503   1507
25                France    493      495      499   1487
26        United Kingdom    492      509      498   1499
27        Czech Republic    492      493      487   1472
28              Portugal    492      501      498   1491
29                 Italy    490      481      485   1456
..                   ...    ...      ...      ...    ...
40               Croatia    464      475      487   1426
41            Kazakhstan    460      456      427   1343
42                Greece    454      455      467   1376
43               Romania    444      435      434   1313
44              Bulgaria    441      446      432   1319
45                Cyprus    437      433      443   1313
46  United Arab Emirates    427      437      434   1298
47                 Chile    423      447      459   1329
48                Turkey    420      425      428   1273
49               Moldova    420      428      416   1264
50               Uruguay    418      435      437   1290
51            Montenegro    418      411      427   1256
52   Trinidad and Tobago    417      425      427   1269
53              Thailand    415      421      409   1245
54               Albania    413      427      405   1245
55                Mexico    408      404      423   1235
56               Georgia    404      411      401   1216
57                 Qatar    402      418      402   1222
58            Costa Rica    400      420      427   1247
59               Lebanon    396      386      347   1129
60              Colombia    390      416      425   1231
61                  Peru    387      397      398   1182
62             Indonesia    386      403      397   1186
63                Jordan    380      409      408   1197
64                Brazil    377      401      407   1185
65             Macedonia    371      384      352   1107
66               Tunisia    367      386      361   1114
67                Kosovo    362      378      347   1087
68               Algeria    360      376      350   1086
69    Dominican Republic    328      332      358   1018

[70 rows x 5 columns]

In [94]:
df['Rank'] = df.Total.rank(method='dense', ascending=False).astype(int)

In [95]:
df.sort_values('Rank')

                 Country  Maths  Science  Reading  Total  Rank
0              Singapore    564      556      535   1655     1
1              Hong Kong    548      523      527   1598     2
4                  Japan    532      538      516   1586     3
2                  Macau    544      529      509   1582     4
8                Estonia    520      534      519   1573     5
3                 Taiwan    542      532      497   1571     6
9                 Canada    516      528      527   1571     6
12               Finland    511      531      526   1568     7
6            South Korea    524      516      517   1557     8
5                  China    531      518      494   1543     9
13              Slovenia    510      513      505   1528    10
17               Ireland    504      503      521   1528    10
10           Netherlands    512      509      503   1524    11
15               Germany    506      509      509   1524    11
7            Switzerland    521      506      492   1519    12
20           New Zealand    495      513      509   1517    13
11               Denmark    511      502      500   1513    14
18                Norway    502      498      513   1513    14
16                Poland    504      501      506   1511    15
14               Belgium    507      502      499   1508    16
24             Australia    494      510      503   1507    17
21               Vietnam    495      525      487   1507    17
26        United Kingdom    492      509      498   1499    18
28              Portugal    492      501      498   1491    19
23                Sweden    494      493      500   1487    20
25                France    493      495      499   1487    20
19               Austria    497      495      485   1477    21
22                Russia    494      487      495   1476    22
31                 Spain    486      493      496   1475    23
27        Czech Republic    492      493      487   1472    24
..                   ...    ...      ...      ...    ...   ...
37              Slovakia    475      461      453   1389    35
42                Greece    454      455      467   1376    36
41            Kazakhstan    460      456      427   1343    37
47                 Chile    423      447      459   1329    38
44              Bulgaria    441      446      432   1319    39
43               Romania    444      435      434   1313    40
45                Cyprus    437      433      443   1313    40
46  United Arab Emirates    427      437      434   1298    41
50               Uruguay    418      435      437   1290    42
48                Turkey    420      425      428   1273    43
52   Trinidad and Tobago    417      425      427   1269    44
49               Moldova    420      428      416   1264    45
51            Montenegro    418      411      427   1256    46
58            Costa Rica    400      420      427   1247    47
54               Albania    413      427      405   1245    48
53              Thailand    415      421      409   1245    48
55                Mexico    408      404      423   1235    49
60              Colombia    390      416      425   1231    50
57                 Qatar    402      418      402   1222    51
56               Georgia    404      411      401   1216    52
63                Jordan    380      409      408   1197    53
62             Indonesia    386      403      397   1186    54
64                Brazil    377      401      407   1185    55
61                  Peru    387      397      398   1182    56
59               Lebanon    396      386      347   1129    57
66               Tunisia    367      386      361   1114    58
65             Macedonia    371      384      352   1107    59
67                Kosovo    362      378      347   1087    60
68               Algeria    360      376      350   1086    61
69    Dominican Republic    328      332      358   1018    62

[70 rows x 6 columns]