In [1]:
import pandas as pd

In [2]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/Programme_for_International_Student_Assessment',
                 match='Singapore')

In [3]:
maths= dfs[1]
sci = dfs[2]
reading = dfs[3]

In [4]:
maths.rename(columns={0:'Rank', 1:'Country', 2:'Maths'}, inplace=True)
sci.rename(columns={0:'Rank', 1:'Country', 2:'Science'}, inplace=True)
reading.rename(columns={0:'Rank', 1:'Country', 2:'Reading'}, inplace=True)

In [5]:
maths

    Rank               Country  Maths
0      1             Singapore    564
1      2             Hong Kong    548
2      3                 Macau    544
3      4                Taiwan    542
4      5                 Japan    532
5      6                 China    531
6      7           South Korea    524
7      8           Switzerland    521
8      9               Estonia    520
9     10                Canada    516
10    11           Netherlands    512
11    12               Denmark    511
12    13               Finland    511
13    14              Slovenia    510
14    15               Belgium    507
15    16               Germany    506
16    17                Poland    504
17    18               Ireland    504
18    19                Norway    502
19    20               Austria    497
20    21           New Zealand    495
21    22               Vietnam    495
22    23                Russia    494
23    24                Sweden    494
24    25             Australia    494
25    26                France    493
26    27        United Kingdom    492
27    28        Czech Republic    492
28    29              Portugal    492
29    30                 Italy    490
..   ...                   ...    ...
40    41               Croatia    464
41    42            Kazakhstan    460
42    43                Greece    454
43    44               Romania    444
44    46              Bulgaria    441
45    47                Cyprus    437
46    48  United Arab Emirates    427
47    49                 Chile    423
48    50                Turkey    420
49    51               Moldova    420
50    52               Uruguay    418
51    53            Montenegro    418
52    54   Trinidad and Tobago    417
53    55              Thailand    415
54    56               Albania    413
55    57                Mexico    408
56    59               Georgia    404
57    60                 Qatar    402
58    61            Costa Rica    400
59    62               Lebanon    396
60    63              Colombia    390
61    64                  Peru    387
62    65             Indonesia    386
63    66                Jordan    380
64    67                Brazil    377
65    68             Macedonia    371
66    69               Tunisia    367
67    70                Kosovo    362
68    71               Algeria    360
69    72    Dominican Republic    328

[70 rows x 3 columns]

In [6]:
sci

    Rank               Country  Science
0      1             Singapore      556
1      2                 Japan      538
2      3               Estonia      534
3      4                Taiwan      532
4      5               Finland      531
5      6                 Macau      529
6      7                Canada      528
7      8               Vietnam      525
8      9             Hong Kong      523
9     10                 China      518
10    11           South Korea      516
11    12           New Zealand      513
12    13              Slovenia      513
13    14             Australia      510
14    15        United Kingdom      509
15    16               Germany      509
16    17           Netherlands      509
17    18           Switzerland      506
18    19               Ireland      503
19    20               Belgium      502
20    21               Denmark      502
21    22                Poland      501
22    23              Portugal      501
23    24                Norway      498
24    25         United States      496
25    26               Austria      495
26    27                France      495
27    28                Sweden      493
28    29        Czech Republic      493
29    30                 Spain      493
..   ...                   ...      ...
40    41              Slovakia      461
41    42            Kazakhstan      456
42    43                Greece      455
43    44                 Chile      447
44    45              Bulgaria      446
45    46  United Arab Emirates      437
46    48               Uruguay      435
47    49               Romania      435
48    50                Cyprus      433
49    52               Moldova      428
50    53               Albania      427
51    54                Turkey      425
52    55   Trinidad and Tobago      425
53    56              Thailand      421
54    57            Costa Rica      420
55    58                 Qatar      418
56    59              Colombia      416
57    60                Mexico      404
58    61            Montenegro      411
59    62               Georgia      411
60    63                Jordan      409
61    64             Indonesia      403
62    65                Brazil      401
63    66                  Peru      397
64    67               Lebanon      386
65    68               Tunisia      386
66    69             Macedonia      384
67    70                Kosovo      378
68    71               Algeria      376
69    72    Dominican Republic      332

[70 rows x 3 columns]

In [7]:
reading

    Rank               Country  Reading
0      1             Singapore      535
1      2             Hong Kong      527
2      3                Canada      527
3      4               Finland      526
4      5               Ireland      521
5      6               Estonia      519
6      7           South Korea      517
7      8                 Japan      516
8      9                Norway      513
9     10           New Zealand      509
10    11               Germany      509
11    12                 Macau      509
12    13                Poland      506
13    14              Slovenia      505
14    15           Netherlands      503
15    16             Australia      503
16    17                Sweden      500
17    18               Denmark      500
18    19                France      499
19    20               Belgium      499
20    21              Portugal      498
21    22        United Kingdom      498
22    23                Taiwan      497
23    24         United States      497
24    25                 Spain      496
25    26                Russia      495
26    27                 China      494
27    28           Switzerland      492
28    29                Latvia      488
29    30        Czech Republic      487
..   ...                   ...      ...
40    41                 Chile      459
41    42              Slovakia      453
42    43                 Malta      447
43    44                Cyprus      443
44    45               Uruguay      437
45    46               Romania      434
46    47  United Arab Emirates      434
47    48              Bulgaria      432
48    49                Turkey      428
49    51            Costa Rica      427
50    52   Trinidad and Tobago      427
51    53            Kazakhstan      427
52    54            Montenegro      427
53    56              Colombia      425
54    57                Mexico      423
55    58               Moldova      416
56    59              Thailand      409
57    60                Jordan      408
58    61                Brazil      407
59    62               Albania      405
60    63                 Qatar      402
61    64               Georgia      401
62    65                  Peru      398
63    66             Indonesia      397
64    67               Tunisia      361
65    68    Dominican Republic      358
66    69             Macedonia      352
67    70               Algeria      350
68    71                Kosovo      347
69    72               Lebanon      347

[70 rows x 3 columns]

In [9]:
df = pd.merge(maths[['Country', 'Maths']], pd.merge(sci[['Country', 'Science']], reading[['Country', 'Reading']], on='Country'), on='Country')

In [10]:
df

                 Country  Maths  Science  Reading
0              Singapore    564      556      535
1              Hong Kong    548      523      527
2                  Macau    544      529      509
3                 Taiwan    542      532      497
4                  Japan    532      538      516
5                  China    531      518      494
6            South Korea    524      516      517
7            Switzerland    521      506      492
8                Estonia    520      534      519
9                 Canada    516      528      527
10           Netherlands    512      509      503
11               Denmark    511      502      500
12               Finland    511      531      526
13              Slovenia    510      513      505
14               Belgium    507      502      499
15               Germany    506      509      509
16                Poland    504      501      506
17               Ireland    504      503      521
18                Norway    502      498      513
19               Austria    497      495      485
20           New Zealand    495      513      509
21               Vietnam    495      525      487
22                Russia    494      487      495
23                Sweden    494      493      500
24             Australia    494      510      503
25                France    493      495      499
26        United Kingdom    492      509      498
27        Czech Republic    492      493      487
28              Portugal    492      501      498
29                 Italy    490      481      485
..                   ...    ...      ...      ...
40               Croatia    464      475      487
41            Kazakhstan    460      456      427
42                Greece    454      455      467
43               Romania    444      435      434
44              Bulgaria    441      446      432
45                Cyprus    437      433      443
46  United Arab Emirates    427      437      434
47                 Chile    423      447      459
48                Turkey    420      425      428
49               Moldova    420      428      416
50               Uruguay    418      435      437
51            Montenegro    418      411      427
52   Trinidad and Tobago    417      425      427
53              Thailand    415      421      409
54               Albania    413      427      405
55                Mexico    408      404      423
56               Georgia    404      411      401
57                 Qatar    402      418      402
58            Costa Rica    400      420      427
59               Lebanon    396      386      347
60              Colombia    390      416      425
61                  Peru    387      397      398
62             Indonesia    386      403      397
63                Jordan    380      409      408
64                Brazil    377      401      407
65             Macedonia    371      384      352
66               Tunisia    367      386      361
67                Kosovo    362      378      347
68               Algeria    360      376      350
69    Dominican Republic    328      332      358

[70 rows x 4 columns]

In [11]:
df['Total'] = df.Maths + df.Science + df.Reading

In [12]:
df

                 Country  Maths  Science  Reading  Total
0              Singapore    564      556      535   1655
1              Hong Kong    548      523      527   1598
2                  Macau    544      529      509   1582
3                 Taiwan    542      532      497   1571
4                  Japan    532      538      516   1586
5                  China    531      518      494   1543
6            South Korea    524      516      517   1557
7            Switzerland    521      506      492   1519
8                Estonia    520      534      519   1573
9                 Canada    516      528      527   1571
10           Netherlands    512      509      503   1524
11               Denmark    511      502      500   1513
12               Finland    511      531      526   1568
13              Slovenia    510      513      505   1528
14               Belgium    507      502      499   1508
15               Germany    506      509      509   1524
16                Poland    504      501      506   1511
17               Ireland    504      503      521   1528
18                Norway    502      498      513   1513
19               Austria    497      495      485   1477
20           New Zealand    495      513      509   1517
21               Vietnam    495      525      487   1507
22                Russia    494      487      495   1476
23                Sweden    494      493      500   1487
24             Australia    494      510      503   1507
25                France    493      495      499   1487
26        United Kingdom    492      509      498   1499
27        Czech Republic    492      493      487   1472
28              Portugal    492      501      498   1491
29                 Italy    490      481      485   1456
..                   ...    ...      ...      ...    ...
40               Croatia    464      475      487   1426
41            Kazakhstan    460      456      427   1343
42                Greece    454      455      467   1376
43               Romania    444      435      434   1313
44              Bulgaria    441      446      432   1319
45                Cyprus    437      433      443   1313
46  United Arab Emirates    427      437      434   1298
47                 Chile    423      447      459   1329
48                Turkey    420      425      428   1273
49               Moldova    420      428      416   1264
50               Uruguay    418      435      437   1290
51            Montenegro    418      411      427   1256
52   Trinidad and Tobago    417      425      427   1269
53              Thailand    415      421      409   1245
54               Albania    413      427      405   1245
55                Mexico    408      404      423   1235
56               Georgia    404      411      401   1216
57                 Qatar    402      418      402   1222
58            Costa Rica    400      420      427   1247
59               Lebanon    396      386      347   1129
60              Colombia    390      416      425   1231
61                  Peru    387      397      398   1182
62             Indonesia    386      403      397   1186
63                Jordan    380      409      408   1197
64                Brazil    377      401      407   1185
65             Macedonia    371      384      352   1107
66               Tunisia    367      386      361   1114
67                Kosovo    362      378      347   1087
68               Algeria    360      376      350   1086
69    Dominican Republic    328      332      358   1018

[70 rows x 5 columns]

In [15]:
df['Rank'] = df.Total.rank(method='dense', ascending=False).astype(int)

In [21]:
df.sort_values('Rank', ascending=True, inplace=True)

In [22]:
df

                 Country  Maths  Science  Reading  Total  Rank
0              Singapore    564      556      535   1655     1
1              Hong Kong    548      523      527   1598     2
4                  Japan    532      538      516   1586     3
2                  Macau    544      529      509   1582     4
8                Estonia    520      534      519   1573     5
3                 Taiwan    542      532      497   1571     6
9                 Canada    516      528      527   1571     6
12               Finland    511      531      526   1568     7
6            South Korea    524      516      517   1557     8
5                  China    531      518      494   1543     9
13              Slovenia    510      513      505   1528    10
17               Ireland    504      503      521   1528    10
10           Netherlands    512      509      503   1524    11
15               Germany    506      509      509   1524    11
7            Switzerland    521      506      492   1519    12
20           New Zealand    495      513      509   1517    13
18                Norway    502      498      513   1513    14
11               Denmark    511      502      500   1513    14
16                Poland    504      501      506   1511    15
14               Belgium    507      502      499   1508    16
21               Vietnam    495      525      487   1507    17
24             Australia    494      510      503   1507    17
26        United Kingdom    492      509      498   1499    18
28              Portugal    492      501      498   1491    19
23                Sweden    494      493      500   1487    20
25                France    493      495      499   1487    20
19               Austria    497      495      485   1477    21
22                Russia    494      487      495   1476    22
31                 Spain    486      493      496   1475    23
27        Czech Republic    492      493      487   1472    24
..                   ...    ...      ...      ...    ...   ...
37              Slovakia    475      461      453   1389    35
42                Greece    454      455      467   1376    36
41            Kazakhstan    460      456      427   1343    37
47                 Chile    423      447      459   1329    38
44              Bulgaria    441      446      432   1319    39
45                Cyprus    437      433      443   1313    40
43               Romania    444      435      434   1313    40
46  United Arab Emirates    427      437      434   1298    41
50               Uruguay    418      435      437   1290    42
48                Turkey    420      425      428   1273    43
52   Trinidad and Tobago    417      425      427   1269    44
49               Moldova    420      428      416   1264    45
51            Montenegro    418      411      427   1256    46
58            Costa Rica    400      420      427   1247    47
53              Thailand    415      421      409   1245    48
54               Albania    413      427      405   1245    48
55                Mexico    408      404      423   1235    49
60              Colombia    390      416      425   1231    50
57                 Qatar    402      418      402   1222    51
56               Georgia    404      411      401   1216    52
63                Jordan    380      409      408   1197    53
62             Indonesia    386      403      397   1186    54
64                Brazil    377      401      407   1185    55
61                  Peru    387      397      398   1182    56
59               Lebanon    396      386      347   1129    57
66               Tunisia    367      386      361   1114    58
65             Macedonia    371      384      352   1107    59
67                Kosovo    362      378      347   1087    60
68               Algeria    360      376      350   1086    61
69    Dominican Republic    328      332      358   1018    62

[70 rows x 6 columns]

In [23]:
pisa = df

## Pisa

In [25]:
gdp = pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/gdp_percapita_2015.csv')
gdp

                                               Country         Y2015
0                                                Aruba           NaN
1                                          Afghanistan    569.577923
2                                               Angola   3695.793748
3                                              Albania   3934.895394
4                                              Andorra  36038.267600
5                                           Arab World   6435.525509
6                                 United Arab Emirates  39101.746890
7                                            Argentina  13467.102360
8                                              Armenia   3617.935746
9                                       American Samoa  11865.963230
10                                 Antigua and Barbuda  13659.147910
11                                           Australia  56408.340430
12                                             Austria  44255.583360
13                                          Azerbaijan   5500.310382
14                                             Burundi    300.676557
15                                             Belgium  40375.388640
16                                               Benin    783.947091
17                                        Burkina Faso    575.314454
18                                          Bangladesh   1210.158769
19                                            Bulgaria   6993.477360
20                                             Bahrain  22688.878240
21                                        Bahamas, The  29056.090660
22                              Bosnia and Herzegovina   4584.242548
23                                             Belarus   5949.106307
24                                              Belize   4849.997495
25                                             Bermuda           NaN
26                                             Bolivia   3077.026199
27                                              Brazil   8757.206202
28                                            Barbados  16129.049280
29                                   Brunei Darussalam  30967.890510
..                                                 ...           ...
234  Latin America & the Caribbean (IDA & IBRD coun...   8534.506463
235                                        Timor-Leste   1294.544540
236  Middle East & North Africa (IDA & IBRD countries)   3936.596023
237                                              Tonga   4093.849585
238                            South Asia (IDA & IBRD)   1538.128926
239          Sub-Saharan Africa (IDA & IBRD countries)   1598.260317
240                                Trinidad and Tobago  17321.787620
241                                            Tunisia   3828.100633
242                                             Turkey  10984.770760
243                                             Tuvalu   2970.027974
244                                           Tanzania    872.295495
245                                             Uganda    674.044972
246                                            Ukraine   2124.662666
247                                Upper middle income   8112.015280
248                                            Uruguay  15524.842470
249                                      United States  56469.008970
250                                         Uzbekistan   2137.576852
251                     St. Vincent and the Grenadines   6899.691708
252                                      Venezuela, RB           NaN
253                             British Virgin Islands           NaN
254                              Virgin Islands (U.S.)  34954.971680
255                                            Vietnam   2065.169099
256                                            Vanuatu   2805.834140
257                                              World  10164.213420
258                                              Samoa   4149.411429
259                                             Kosovo   3574.481782
260                                        Yemen, Rep.   1401.903319
261                                       South Africa   5744.324157
262                                             Zambia   1313.889646
263                                           Zimbabwe   1033.415842

[264 rows x 2 columns]

In [30]:
df = pd.merge(pisa, gdp, on='Country', how='left')

In [31]:
df

                 Country  Maths  Science  Reading  Total  Rank         Y2015
0              Singapore    564      556      535   1655     1  53629.737460
1              Hong Kong    548      523      527   1598     2           NaN
2                  Japan    532      538      516   1586     3  34567.745680
3                  Macau    544      529      509   1582     4           NaN
4                Estonia    520      534      519   1573     5  17155.874180
5                 Taiwan    542      532      497   1571     6           NaN
6                 Canada    516      528      527   1571     6  43525.370190
7                Finland    511      531      526   1568     7  42424.220810
8            South Korea    524      516      517   1557     8           NaN
9                  China    531      518      494   1543     9   8069.213024
10              Slovenia    510      513      505   1528    10  20873.161110
11               Ireland    504      503      521   1528    10  62544.631650
12           Netherlands    512      509      503   1524    11  44746.334050
13               Germany    506      509      509   1524    11  41323.921500
14           Switzerland    521      506      492   1519    12  82016.021310
15           New Zealand    495      513      509   1517    13  38201.890370
16                Norway    502      498      513   1513    14  74498.137640
17               Denmark    511      502      500   1513    14  53012.996580
18                Poland    504      501      506   1511    15  12564.483530
19               Belgium    507      502      499   1508    16  40375.388640
20               Vietnam    495      525      487   1507    17   2065.169099
21             Australia    494      510      503   1507    17  56408.340430
22        United Kingdom    492      509      498   1499    18  44305.554630
23              Portugal    492      501      498   1491    19  19252.634950
24                Sweden    494      493      500   1487    20  50812.190860
25                France    493      495      499   1487    20  36526.770110
26               Austria    497      495      485   1477    21  44255.583360
27                Russia    494      487      495   1476    22           NaN
28                 Spain    486      493      496   1475    23  25789.519550
29        Czech Republic    492      493      487   1472    24  17715.616850
..                   ...    ...      ...      ...    ...   ...           ...
40              Slovakia    475      461      453   1389    35           NaN
41                Greece    454      455      467   1376    36  18070.776780
42            Kazakhstan    460      456      427   1343    37  10509.981070
43                 Chile    423      447      459   1329    38  13653.226400
44              Bulgaria    441      446      432   1319    39   6993.477360
45                Cyprus    437      433      443   1313    40  23212.224700
46               Romania    444      435      434   1313    40   8978.389254
47  United Arab Emirates    427      437      434   1298    41  39101.746890
48               Uruguay    418      435      437   1290    42  15524.842470
49                Turkey    420      425      428   1273    43  10984.770760
50   Trinidad and Tobago    417      425      427   1269    44  17321.787620
51               Moldova    420      428      416   1264    45   1832.499052
52            Montenegro    418      411      427   1256    46   6514.272695
53            Costa Rica    400      420      427   1247    47  11406.362730
54              Thailand    415      421      409   1245    48   5814.863134
55               Albania    413      427      405   1245    48   3934.895394
56                Mexico    408      404      423   1235    49   9152.872306
57              Colombia    390      416      425   1231    50   6044.525655
58                 Qatar    402      418      402   1222    51  66346.522670
59               Georgia    404      411      401   1216    52   3764.640912
60                Jordan    380      409      408   1197    53   4096.099275
61             Indonesia    386      403      397   1186    54   3336.106686
62                Brazil    377      401      407   1185    55   8757.206202
63                  Peru    387      397      398   1182    56   6030.343259
64               Lebanon    396      386      347   1129    57   8452.443641
65               Tunisia    367      386      361   1114    58   3828.100633
66             Macedonia    371      384      352   1107    59           NaN
67                Kosovo    362      378      347   1087    60   3574.481782
68               Algeria    360      376      350   1086    61   4160.220067
69    Dominican Republic    328      332      358   1018    62   6468.471648

[70 rows x 7 columns]

In [37]:
df = pd.merge(pisa, gdp, on='Country', how='inner')
df

                 Country  Maths  Science  Reading  Total  Rank          Y2015
0              Singapore    564      556      535   1655     1   53629.737460
1                  Japan    532      538      516   1586     3   34567.745680
2                Estonia    520      534      519   1573     5   17155.874180
3                 Canada    516      528      527   1571     6   43525.370190
4                Finland    511      531      526   1568     7   42424.220810
5                  China    531      518      494   1543     9    8069.213024
6               Slovenia    510      513      505   1528    10   20873.161110
7                Ireland    504      503      521   1528    10   62544.631650
8            Netherlands    512      509      503   1524    11   44746.334050
9                Germany    506      509      509   1524    11   41323.921500
10           Switzerland    521      506      492   1519    12   82016.021310
11           New Zealand    495      513      509   1517    13   38201.890370
12                Norway    502      498      513   1513    14   74498.137640
13               Denmark    511      502      500   1513    14   53012.996580
14                Poland    504      501      506   1511    15   12564.483530
15               Belgium    507      502      499   1508    16   40375.388640
16               Vietnam    495      525      487   1507    17    2065.169099
17             Australia    494      510      503   1507    17   56408.340430
18        United Kingdom    492      509      498   1499    18   44305.554630
19              Portugal    492      501      498   1491    19   19252.634950
20                Sweden    494      493      500   1487    20   50812.190860
21                France    493      495      499   1487    20   36526.770110
22               Austria    497      495      485   1477    21   44255.583360
23                 Spain    486      493      496   1475    23   25789.519550
24        Czech Republic    492      493      487   1472    24   17715.616850
25         United States    470      496      497   1463    25   56469.008970
26                Latvia    482      490      488   1460    26   13639.694120
27                 Italy    490      481      485   1456    27   30180.321510
28            Luxembourg    486      483      481   1450    28  101446.786300
29               Iceland    488      473      482   1443    29   51213.661330
..                   ...    ...      ...      ...    ...   ...            ...
33                Israel    470      467      479   1416    33   35691.269160
34                 Malta    479      465      447   1391    34   23816.085140
35                Greece    454      455      467   1376    36   18070.776780
36            Kazakhstan    460      456      427   1343    37   10509.981070
37                 Chile    423      447      459   1329    38   13653.226400
38              Bulgaria    441      446      432   1319    39    6993.477360
39                Cyprus    437      433      443   1313    40   23212.224700
40               Romania    444      435      434   1313    40    8978.389254
41  United Arab Emirates    427      437      434   1298    41   39101.746890
42               Uruguay    418      435      437   1290    42   15524.842470
43                Turkey    420      425      428   1273    43   10984.770760
44   Trinidad and Tobago    417      425      427   1269    44   17321.787620
45               Moldova    420      428      416   1264    45    1832.499052
46            Montenegro    418      411      427   1256    46    6514.272695
47            Costa Rica    400      420      427   1247    47   11406.362730
48              Thailand    415      421      409   1245    48    5814.863134
49               Albania    413      427      405   1245    48    3934.895394
50                Mexico    408      404      423   1235    49    9152.872306
51              Colombia    390      416      425   1231    50    6044.525655
52                 Qatar    402      418      402   1222    51   66346.522670
53               Georgia    404      411      401   1216    52    3764.640912
54                Jordan    380      409      408   1197    53    4096.099275
55             Indonesia    386      403      397   1186    54    3336.106686
56                Brazil    377      401      407   1185    55    8757.206202
57                  Peru    387      397      398   1182    56    6030.343259
58               Lebanon    396      386      347   1129    57    8452.443641
59               Tunisia    367      386      361   1114    58    3828.100633
60                Kosovo    362      378      347   1087    60    3574.481782
61               Algeria    360      376      350   1086    61    4160.220067
62    Dominican Republic    328      332      358   1018    62    6468.471648

[63 rows x 7 columns]

In [38]:
df = pd.merge(pisa, gdp, on='Country', how='left', indicator=True)
df

,Country,Maths,Science,Reading,Total,Rank,Y2015,_merge
0,Singapore,564,556,535,1655,1,53629.737460,both
1,Hong Kong,548,523,527,1598,2,NaN,left_only
2,Japan,532,538,516,1586,3,34567.745680,both
3,Macau,544,529,509,1582,4,NaN,left_only
4,Estonia,520,534,519,1573,5,17155.874180,both
5,Taiwan,542,532,497,1571,6,NaN,left_only
6,Canada,516,528,527,1571,6,43525.370190,both
7,Finland,511,531,526,1568,7,42424.220810,both
8,South Korea,524,516,517,1557,8,NaN,left_only
9,China,531,518,494,1543,9,8069.213024,both
10,Slovenia,510,513,505,1528,10,20873.161110,both
11,Ireland,504,503,521,1528,10,62544.631650,both
12,Netherlands,512,509,503,1524,11,44746.334050,both
13,Germany,506,509,509,1524,11,41323.921500,both
14,Switzerland,521,506,492,1519,12,82016.021310,both
15,New Zealand,495,513,509,1517,13,38201.890370,both
16,Norway,502,498,513,1513,14,74498.137640,both
17,Denmark,511,502,500,1513,14,53012.996580,both
18,Poland,504,501,506,1511,15,12564.483530,both
19,Belgium,507,502,499,1508,16,40375.388640,both
20,Vietnam,495,525,487,1507,17,2065.169099,both
21,Australia,494,510,503,1507,17,56408.340430,both
22,United Kingdom,492,509,498,1499,18,44305.554630,both
23,Portugal,492,501,498,1491,19,19252.634950,both
24,Sweden,494,493,500,1487,20,50812.190860,both
25,France,493,495,499,1487,20,36526.770110,both
26,Austria,497,495,485,1477,21,44255.583360,both
27,Russia,494,487,495,1476,22,NaN,left_only
28,Spain,486,493,496,1475,23,25789.519550,both
29,Czech Republic,492,493,487,1472,24,17715.616850,both
...,...,...,...,...,...,...,...,...
40,Slovakia,475,461,453,1389,35,NaN,left_only
41,Greece,454,455,467,1376,36,18070.776780,both
42,Kazakhstan,460,456,427,1343,37,10509.981070,both
43,Chile,423,447,459,1329,38,13653.226400,both
44,Bulgaria,441,446,432,1319,39,6993.477360,both
45,Cyprus,437,433,443,1313,40,23212.224700,both
46,Romania,444,435,434,1313,40,8978.389254,both
47,United Arab Emirates,427,437,434,1298,41,39101.746890,both
48,Uruguay,418,435,437,1290,42,15524.842470,both
49,Turkey,420,425,428,1273,43,10984.770760,both
50,Trinidad and Tobago,417,425,427,1269,44,17321.787620,both
51,Moldova,420,428,416,1264,45,1832.499052,both
52,Montenegro,418,411,427,1256,46,6514.272695,both
53,Costa Rica,400,420,427,1247,47,11406.362730,both
54,Thailand,415,421,409,1245,48,5814.863134,both
55,Albania,413,427,405,1245,48,3934.895394,both
56,Mexico,408,404,423,1235,49,9152.872306,both
57,Colombia,390,416,425,1231,50,6044.525655,both
58,Qatar,402,418,402,1222,51,66346.522670,both
59,Georgia,404,411,401,1216,52,3764.640912,both
60,Jordan,380,409,408,1197,53,4096.099275,both
61,Indonesia,386,403,397,1186,54,3336.106686,both
62,Brazil,377,401,407,1185,55,8757.206202,both
63,Peru,387,397,398,1182,56,6030.343259,both
64,Lebanon,396,386,347,1129,57,8452.443641,both
65,Tunisia,367,386,361,1114,58,3828.100633,both
66,Macedonia,371,384,352,1107,59,NaN,left_only
67,Kosovo,362,378,347,1087,60,3574.481782,both
68,Algeria,360,376,350,1086,61,4160.220067,both
69,Dominican Republic,328,332,358,1018,62,6468.471648,both

In [39]:
df = pd.merge(gdp, pisa, on='Country', how='left', indicator=True)
df

,Country,Y2015,Maths,Science,Reading,Total,Rank,_merge
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,Afghanistan,569.577923,NaN,NaN,NaN,NaN,NaN,left_only
2,Angola,3695.793748,NaN,NaN,NaN,NaN,NaN,left_only
3,Albania,3934.895394,413.0,427.0,405.0,1245.0,48.0,both
4,Andorra,36038.267600,NaN,NaN,NaN,NaN,NaN,left_only
5,Arab World,6435.525509,NaN,NaN,NaN,NaN,NaN,left_only
6,United Arab Emirates,39101.746890,427.0,437.0,434.0,1298.0,41.0,both
7,Argentina,13467.102360,NaN,NaN,NaN,NaN,NaN,left_only
8,Armenia,3617.935746,NaN,NaN,NaN,NaN,NaN,left_only
9,American Samoa,11865.963230,NaN,NaN,NaN,NaN,NaN,left_only
10,Antigua and Barbuda,13659.147910,NaN,NaN,NaN,NaN,NaN,left_only
11,Australia,56408.340430,494.0,510.0,503.0,1507.0,17.0,both
12,Austria,44255.583360,497.0,495.0,485.0,1477.0,21.0,both
13,Azerbaijan,5500.310382,NaN,NaN,NaN,NaN,NaN,left_only
14,Burundi,300.676557,NaN,NaN,NaN,NaN,NaN,left_only
15,Belgium,40375.388640,507.0,502.0,499.0,1508.0,16.0,both
16,Benin,783.947091,NaN,NaN,NaN,NaN,NaN,left_only
17,Burkina Faso,575.314454,NaN,NaN,NaN,NaN,NaN,left_only
18,Bangladesh,1210.158769,NaN,NaN,NaN,NaN,NaN,left_only
19,Bulgaria,6993.477360,441.0,446.0,432.0,1319.0,39.0,both
20,Bahrain,22688.878240,NaN,NaN,NaN,NaN,NaN,left_only
21,"Bahamas, The",29056.090660,NaN,NaN,NaN,NaN,NaN,left_only
22,Bosnia and Herzegovina,4584.242548,NaN,NaN,NaN,NaN,NaN,left_only
23,Belarus,5949.106307,NaN,NaN,NaN,NaN,NaN,left_only
24,Belize,4849.997495,NaN,NaN,NaN,NaN,NaN,left_only
25,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,Bolivia,3077.026199,NaN,NaN,NaN,NaN,NaN,left_only
27,Brazil,8757.206202,377.0,401.0,407.0,1185.0,55.0,both
28,Barbados,16129.049280,NaN,NaN,NaN,NaN,NaN,left_only
29,Brunei Darussalam,30967.890510,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,8534.506463,NaN,NaN,NaN,NaN,NaN,left_only
235,Timor-Leste,1294.544540,NaN,NaN,NaN,NaN,NaN,left_only
236,Middle East & North Africa (IDA & IBRD countries),3936.596023,NaN,NaN,NaN,NaN,NaN,left_only
237,Tonga,4093.849585,NaN,NaN,NaN,NaN,NaN,left_only
238,South Asia (IDA & IBRD),1538.128926,NaN,NaN,NaN,NaN,NaN,left_only
239,Sub-Saharan Africa (IDA & IBRD countries),1598.260317,NaN,NaN,NaN,NaN,NaN,left_only
240,Trinidad and Tobago,17321.787620,417.0,425.0,427.0,1269.0,44.0,both
241,Tunisia,3828.100633,367.0,386.0,361.0,1114.0,58.0,both
242,Turkey,10984.770760,420.0,425.0,428.0,1273.0,43.0,both
243,Tuvalu,2970.027974,NaN,NaN,NaN,NaN,NaN,left_only
244,Tanzania,872.295495,NaN,NaN,NaN,NaN,NaN,left_only
245,Uganda,674.044972,NaN,NaN,NaN,NaN,NaN,left_only
246,Ukraine,2124.662666,NaN,NaN,NaN,NaN,NaN,left_only
247,Upper middle income,8112.015280,NaN,NaN,NaN,NaN,NaN,left_only
248,Uruguay,15524.842470,418.0,435.0,437.0,1290.0,42.0,both
249,United States,56469.008970,470.0,496.0,497.0,1463.0,25.0,both
250,Uzbekistan,2137.576852,NaN,NaN,NaN,NaN,NaN,left_only
251,St. Vincent and the Grenadines,6899.691708,NaN,NaN,NaN,NaN,NaN,left_only
252,"Venezuela, RB",NaN,NaN,NaN,NaN,NaN,NaN,left_only
253,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,left_only
254,Virgin Islands (U.S.),34954.971680,NaN,NaN,NaN,NaN,NaN,left_only
255,Vietnam,2065.169099,495.0,525.0,487.0,1507.0,17.0,both
256,Vanuatu,2805.834140,NaN,NaN,NaN,NaN,NaN,left_only
257,World,10164.213420,NaN,NaN,NaN,NaN,NaN,left_only
258,Samoa,4149.411429,NaN,NaN,NaN,NaN,NaN,left_only
259,Kosovo,3574.481782,362.0,378.0,347.0,1087.0,60.0,both
260,"Yemen, Rep.",1401.903319,NaN,NaN,NaN,NaN,NaN,left_only
261,South Africa,5744.324157,NaN,NaN,NaN,NaN,NaN,left_only
262,Zambia,1313.889646,NaN,NaN,NaN,NaN,NaN,left_only
263,Zimbabwe,1033.415842,NaN,NaN,NaN,NaN,NaN,left_only

In [40]:
df.corr()

            Y2015     Maths   Science   Reading     Total      Rank
Y2015    1.000000  0.573832  0.549811  0.582493  0.576523 -0.571756
Maths    0.573832  1.000000  0.976620  0.944365  0.987167 -0.971522
Science  0.549811  0.976620  1.000000  0.961149  0.992204 -0.979339
Reading  0.582493  0.944365  0.961149  1.000000  0.981064 -0.959878
Total    0.576523  0.987167  0.992204  0.981064  1.000000 -0.983210
Rank    -0.571756 -0.971522 -0.979339 -0.959878 -0.983210  1.000000