## lambda

In [28]:
def cel2fah(c):
    return (c*(9/5)) +32

In [29]:
cel2fah(30)

86.0

In [30]:
lambda c: (c*(9/5)) + 32

In [31]:
c2f = lambda c: (c* (9/5)) +32

In [32]:
c2f(30)

86.0

In [33]:
temp = [0, 10, 20, 30, 100]

In [34]:
f = map(lambda c : cel2fah(c), temp)
list(f)

[32.0, 50.0, 68.0, 86.0, 212.0]

In [35]:
f = map(lambda c : c*(9/5) +32, temp)

In [36]:
list(f)

[32.0, 50.0, 68.0, 86.0, 212.0]

In [37]:
rectangle = lambda w, h : w*h

In [38]:
rectangle(10, 5)

50

# Dataframe

In [39]:
import pandas as pd

In [40]:
df = pd.DataFrame({'celsius': temp})

In [41]:
df

   celsius
0        0
1       10
2       20
3       30
4      100

In [42]:
df.celsius * 9/5+32

0     32.0
1     50.0
2     68.0
3     86.0
4    212.0
Name: celsius, dtype: float64

In [43]:
df.celsius.map(lambda c : c*9/5+32)

0     32.0
1     50.0
2     68.0
3     86.0
4    212.0
Name: celsius, dtype: float64

In [51]:
df.celsius.apply(lambda c : c*9/5+32)

0     32.0
1     50.0
2     68.0
3     86.0
4    212.0
Name: celsius, dtype: float64

In [49]:
%timeit -n1000 df.celsius * 9/5+32

241 µs ± 1.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [50]:
%timeit -n1000 df.celsius.map(lambda c : c*9/5+32)

128 µs ± 2.54 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [52]:
%timeit -n1000 df.celsius.apply(lambda c : c*9/5+32)

153 µs ± 3.11 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [53]:
df['fah'] = df.celsius.map(lambda c:c*9/5+32)

In [54]:
df

   celsius    fah
0        0   32.0
1       10   50.0
2       20   68.0
3       30   86.0
4      100  212.0