url : http://pandas.pydata.org/pandas-docs/stable/options.html

In [26]:
import pandas as pd

In [27]:
df= pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/nba_player_salary2017-2019.csv', index_col='Rk')
df

                   Player   Tm         2017-18         2018-19
Rk
1           Stephen Curry  GSW $34,682,550.00m $37,457,154.00m
2            LeBron James  CLE $33,285,709.00m $35,607,968.00m
3            Paul Millsap  DEN $31,269,231.00m $29,730,769.00m
4          Gordon Hayward  BOS $29,727,900.00m $31,214,295.00m
5           Blake Griffin  DET $29,512,900.00m $31,873,932.00m
6              Kyle Lowry  TOR $28,703,704.00m $31,000,000.00m
7       Russell Westbrook  OKC $28,530,608.00m $35,350,000.00m
8             Mike Conley  MEM $28,530,608.00m $30,521,115.00m
9            James Harden  HOU $28,299,399.00m $30,431,854.00m
10          DeMar DeRozan  TOR $27,739,975.00m $27,739,975.00m
11             Al Horford  BOS $27,734,405.00m $28,928,710.00m
12        Carmelo Anthony  OKC $26,243,760.00m $27,928,140.00m
13         Damian Lillard  POR $26,153,057.00m $27,977,689.00m
14           Jrue Holiday  NOP $25,686,667.00m $26,131,111.00m
15             Chris Bosh  MIA $25,289,390.00m $26,837,720.00m
16           Kevin Durant  GSW $25,000,000.00m $26,250,000.00m
17            Otto Porter  WAS $24,773,250.00m $26,011,913.00m
18             Chris Paul  HOU $24,599,495.00m           $nanm
19          C.J. McCollum  POR $23,962,573.00m $25,759,766.00m
20           Bradley Beal  WAS $23,775,506.00m $25,434,263.00m
21          Anthony Davis  NOP $23,775,506.00m $25,434,263.00m
22         Andre Drummond  DET $23,775,506.00m $25,434,263.00m
23       Hassan Whiteside  MIA $23,775,506.00m $25,434,263.00m
24          Dwight Howard  CHO $23,500,000.00m $23,819,725.00m
25       Chandler Parsons  MEM $23,112,004.00m $24,107,258.00m
26        Harrison Barnes  DAL $23,112,004.00m $24,107,258.00m
27            J.J. Redick  PHI $23,000,000.00m           $nanm
28             Marc Gasol  MEM $22,642,350.00m $24,119,025.00m
29             Kevin Love  CLE $22,642,350.00m $24,119,025.00m
30            Brook Lopez  LAL $22,642,350.00m           $nanm
..                    ...  ...             ...             ...
553  James Michael McAdoo  PHI     $50,000.00m           $nanm
554           Nigel Hayes  NYK     $50,000.00m           $nanm
555           Jalen Moore  MIL     $50,000.00m           $nanm
556           Gary Payton  MIL     $50,000.00m           $nanm
557         Matt Williams  MIA     $50,000.00m           $nanm
558          Vince Hunter  MEM     $50,000.00m           $nanm
559           Vander Blue  LAL     $50,000.00m           $nanm
560          V.J. Beachem  LAL     $50,000.00m           $nanm
561         Briante Weber  LAL     $50,000.00m           $nanm
562          Jamil Wilson  LAC     $50,000.00m           $nanm
563         Briante Weber  HOU     $50,000.00m           $nanm
564          Luis Montero  DET     $50,000.00m           $nanm
565          Gian Clavell  DAL     $50,000.00m           $nanm
566    Antonius Cleveland  DAL     $50,000.00m           $nanm
567         Diamond Stone  CHI     $50,000.00m           $nanm
568       Yakuba Ouattara  BRK     $50,000.00m           $nanm
569          Jeremy Evans  ATL     $50,000.00m           $nanm
570           Nigel Hayes  LAL     $46,080.00m           $nanm
571   Xavier Rathan-Mayes  MEM     $46,080.00m           $nanm
572   Trey McKinney-Jones  IND     $46,080.00m           $nanm
573         Le'Bryan Nash  HOU     $46,080.00m           $nanm
574         Jameel Warney  DAL     $46,080.00m           $nanm
575       Marcus Thornton  CLE     $46,080.00m           $nanm
576       DeAndre Liggins  ATL     $26,773.00m           $nanm
577            Quinn Cook  NOP     $25,000.00m           $nanm
578          Axel Toupane  NOP     $25,000.00m           $nanm
579         Chris Johnson  HOU     $25,000.00m           $nanm
580            Beno Udrih  DET     $25,000.00m           $nanm
581         Joel Bolomboy  MIL     $22,248.00m           $nanm
582          Jarell Eddie  CHI     $17,224.00m           $nanm

[582 rows x 4 columns]

In [28]:
pd.set_option('max_rows', 10)

In [29]:
df

             Player   Tm         2017-18         2018-19
Rk
1     Stephen Curry  GSW $34,682,550.00m $37,457,154.00m
2      LeBron James  CLE $33,285,709.00m $35,607,968.00m
3      Paul Millsap  DEN $31,269,231.00m $29,730,769.00m
4    Gordon Hayward  BOS $29,727,900.00m $31,214,295.00m
5     Blake Griffin  DET $29,512,900.00m $31,873,932.00m
..              ...  ...             ...             ...
578    Axel Toupane  NOP     $25,000.00m           $nanm
579   Chris Johnson  HOU     $25,000.00m           $nanm
580      Beno Udrih  DET     $25,000.00m           $nanm
581   Joel Bolomboy  MIL     $22,248.00m           $nanm
582    Jarell Eddie  CHI     $17,224.00m           $nanm

[582 rows x 4 columns]

In [30]:
pd.reset_option('max_rows')

In [31]:
df

                   Player   Tm         2017-18         2018-19
Rk
1           Stephen Curry  GSW $34,682,550.00m $37,457,154.00m
2            LeBron James  CLE $33,285,709.00m $35,607,968.00m
3            Paul Millsap  DEN $31,269,231.00m $29,730,769.00m
4          Gordon Hayward  BOS $29,727,900.00m $31,214,295.00m
5           Blake Griffin  DET $29,512,900.00m $31,873,932.00m
6              Kyle Lowry  TOR $28,703,704.00m $31,000,000.00m
7       Russell Westbrook  OKC $28,530,608.00m $35,350,000.00m
8             Mike Conley  MEM $28,530,608.00m $30,521,115.00m
9            James Harden  HOU $28,299,399.00m $30,431,854.00m
10          DeMar DeRozan  TOR $27,739,975.00m $27,739,975.00m
11             Al Horford  BOS $27,734,405.00m $28,928,710.00m
12        Carmelo Anthony  OKC $26,243,760.00m $27,928,140.00m
13         Damian Lillard  POR $26,153,057.00m $27,977,689.00m
14           Jrue Holiday  NOP $25,686,667.00m $26,131,111.00m
15             Chris Bosh  MIA $25,289,390.00m $26,837,720.00m
16           Kevin Durant  GSW $25,000,000.00m $26,250,000.00m
17            Otto Porter  WAS $24,773,250.00m $26,011,913.00m
18             Chris Paul  HOU $24,599,495.00m           $nanm
19          C.J. McCollum  POR $23,962,573.00m $25,759,766.00m
20           Bradley Beal  WAS $23,775,506.00m $25,434,263.00m
21          Anthony Davis  NOP $23,775,506.00m $25,434,263.00m
22         Andre Drummond  DET $23,775,506.00m $25,434,263.00m
23       Hassan Whiteside  MIA $23,775,506.00m $25,434,263.00m
24          Dwight Howard  CHO $23,500,000.00m $23,819,725.00m
25       Chandler Parsons  MEM $23,112,004.00m $24,107,258.00m
26        Harrison Barnes  DAL $23,112,004.00m $24,107,258.00m
27            J.J. Redick  PHI $23,000,000.00m           $nanm
28             Marc Gasol  MEM $22,642,350.00m $24,119,025.00m
29             Kevin Love  CLE $22,642,350.00m $24,119,025.00m
30            Brook Lopez  LAL $22,642,350.00m           $nanm
..                    ...  ...             ...             ...
553  James Michael McAdoo  PHI     $50,000.00m           $nanm
554           Nigel Hayes  NYK     $50,000.00m           $nanm
555           Jalen Moore  MIL     $50,000.00m           $nanm
556           Gary Payton  MIL     $50,000.00m           $nanm
557         Matt Williams  MIA     $50,000.00m           $nanm
558          Vince Hunter  MEM     $50,000.00m           $nanm
559           Vander Blue  LAL     $50,000.00m           $nanm
560          V.J. Beachem  LAL     $50,000.00m           $nanm
561         Briante Weber  LAL     $50,000.00m           $nanm
562          Jamil Wilson  LAC     $50,000.00m           $nanm
563         Briante Weber  HOU     $50,000.00m           $nanm
564          Luis Montero  DET     $50,000.00m           $nanm
565          Gian Clavell  DAL     $50,000.00m           $nanm
566    Antonius Cleveland  DAL     $50,000.00m           $nanm
567         Diamond Stone  CHI     $50,000.00m           $nanm
568       Yakuba Ouattara  BRK     $50,000.00m           $nanm
569          Jeremy Evans  ATL     $50,000.00m           $nanm
570           Nigel Hayes  LAL     $46,080.00m           $nanm
571   Xavier Rathan-Mayes  MEM     $46,080.00m           $nanm
572   Trey McKinney-Jones  IND     $46,080.00m           $nanm
573         Le'Bryan Nash  HOU     $46,080.00m           $nanm
574         Jameel Warney  DAL     $46,080.00m           $nanm
575       Marcus Thornton  CLE     $46,080.00m           $nanm
576       DeAndre Liggins  ATL     $26,773.00m           $nanm
577            Quinn Cook  NOP     $25,000.00m           $nanm
578          Axel Toupane  NOP     $25,000.00m           $nanm
579         Chris Johnson  HOU     $25,000.00m           $nanm
580            Beno Udrih  DET     $25,000.00m           $nanm
581         Joel Bolomboy  MIL     $22,248.00m           $nanm
582          Jarell Eddie  CHI     $17,224.00m           $nanm

[582 rows x 4 columns]

In [32]:
pd.set_option('float_format', '{:,.0f}'.format)

In [33]:
df.head()

            Player   Tm    2017-18    2018-19
Rk
1    Stephen Curry  GSW 34,682,550 37,457,154
2     LeBron James  CLE 33,285,709 35,607,968
3     Paul Millsap  DEN 31,269,231 29,730,769
4   Gordon Hayward  BOS 29,727,900 31,214,295
5    Blake Griffin  DET 29,512,900 31,873,932

In [34]:
pd.set_option('float_format', '${:,.0f}'.format)

In [35]:
df.head()

            Player   Tm     2017-18     2018-19
Rk
1    Stephen Curry  GSW $34,682,550 $37,457,154
2     LeBron James  CLE $33,285,709 $35,607,968
3     Paul Millsap  DEN $31,269,231 $29,730,769
4   Gordon Hayward  BOS $29,727,900 $31,214,295
5    Blake Griffin  DET $29,512,900 $31,873,932

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 582 entries, 1 to 582
Data columns (total 4 columns):
Player     582 non-null object
Tm         582 non-null object
2017-18    582 non-null float64
2018-19    345 non-null float64
dtypes: float64(2), object(2)
memory usage: 22.7+ KB

In [37]:
df['2017-18'] = df['2017-18'] / 1e6           #ทำเป็นหน่วยล้าน
df['2018-19'] = df['2018-19'] / 1e6

In [38]:
df

                   Player   Tm  2017-18  2018-19
Rk
1           Stephen Curry  GSW      $35      $37
2            LeBron James  CLE      $33      $36
3            Paul Millsap  DEN      $31      $30
4          Gordon Hayward  BOS      $30      $31
5           Blake Griffin  DET      $30      $32
6              Kyle Lowry  TOR      $29      $31
7       Russell Westbrook  OKC      $29      $35
8             Mike Conley  MEM      $29      $31
9            James Harden  HOU      $28      $30
10          DeMar DeRozan  TOR      $28      $28
11             Al Horford  BOS      $28      $29
12        Carmelo Anthony  OKC      $26      $28
13         Damian Lillard  POR      $26      $28
14           Jrue Holiday  NOP      $26      $26
15             Chris Bosh  MIA      $25      $27
16           Kevin Durant  GSW      $25      $26
17            Otto Porter  WAS      $25      $26
18             Chris Paul  HOU      $25     $nan
19          C.J. McCollum  POR      $24      $26
20           Bradley Beal  WAS      $24      $25
21          Anthony Davis  NOP      $24      $25
22         Andre Drummond  DET      $24      $25
23       Hassan Whiteside  MIA      $24      $25
24          Dwight Howard  CHO      $24      $24
25       Chandler Parsons  MEM      $23      $24
26        Harrison Barnes  DAL      $23      $24
27            J.J. Redick  PHI      $23     $nan
28             Marc Gasol  MEM      $23      $24
29             Kevin Love  CLE      $23      $24
30            Brook Lopez  LAL      $23     $nan
..                    ...  ...      ...      ...
553  James Michael McAdoo  PHI       $0     $nan
554           Nigel Hayes  NYK       $0     $nan
555           Jalen Moore  MIL       $0     $nan
556           Gary Payton  MIL       $0     $nan
557         Matt Williams  MIA       $0     $nan
558          Vince Hunter  MEM       $0     $nan
559           Vander Blue  LAL       $0     $nan
560          V.J. Beachem  LAL       $0     $nan
561         Briante Weber  LAL       $0     $nan
562          Jamil Wilson  LAC       $0     $nan
563         Briante Weber  HOU       $0     $nan
564          Luis Montero  DET       $0     $nan
565          Gian Clavell  DAL       $0     $nan
566    Antonius Cleveland  DAL       $0     $nan
567         Diamond Stone  CHI       $0     $nan
568       Yakuba Ouattara  BRK       $0     $nan
569          Jeremy Evans  ATL       $0     $nan
570           Nigel Hayes  LAL       $0     $nan
571   Xavier Rathan-Mayes  MEM       $0     $nan
572   Trey McKinney-Jones  IND       $0     $nan
573         Le'Bryan Nash  HOU       $0     $nan
574         Jameel Warney  DAL       $0     $nan
575       Marcus Thornton  CLE       $0     $nan
576       DeAndre Liggins  ATL       $0     $nan
577            Quinn Cook  NOP       $0     $nan
578          Axel Toupane  NOP       $0     $nan
579         Chris Johnson  HOU       $0     $nan
580            Beno Udrih  DET       $0     $nan
581         Joel Bolomboy  MIL       $0     $nan
582          Jarell Eddie  CHI       $0     $nan

[582 rows x 4 columns]

In [39]:
pd.set_option('float_format', '${:,.2f}m'.format)

In [40]:
df.head()

            Player   Tm  2017-18  2018-19
Rk
1    Stephen Curry  GSW  $34.68m  $37.46m
2     LeBron James  CLE  $33.29m  $35.61m
3     Paul Millsap  DEN  $31.27m  $29.73m
4   Gordon Hayward  BOS  $29.73m  $31.21m
5    Blake Griffin  DET  $29.51m  $31.87m

In [41]:
df.to_csv('Datasheet/demo_format.csv')

In [53]:
pd.reset_option('float_format')

In [54]:
pd.set_option('float_format', '${:,.2f}m'.format)

In [55]:
df

                   Player   Tm  2017-18  2018-19
Rk
1           Stephen Curry  GSW  $34.68m  $37.46m
2            LeBron James  CLE  $33.29m  $35.61m
3            Paul Millsap  DEN  $31.27m  $29.73m
4          Gordon Hayward  BOS  $29.73m  $31.21m
5           Blake Griffin  DET  $29.51m  $31.87m
6              Kyle Lowry  TOR  $28.70m  $31.00m
7       Russell Westbrook  OKC  $28.53m  $35.35m
8             Mike Conley  MEM  $28.53m  $30.52m
9            James Harden  HOU  $28.30m  $30.43m
10          DeMar DeRozan  TOR  $27.74m  $27.74m
11             Al Horford  BOS  $27.73m  $28.93m
12        Carmelo Anthony  OKC  $26.24m  $27.93m
13         Damian Lillard  POR  $26.15m  $27.98m
14           Jrue Holiday  NOP  $25.69m  $26.13m
15             Chris Bosh  MIA  $25.29m  $26.84m
16           Kevin Durant  GSW  $25.00m  $26.25m
17            Otto Porter  WAS  $24.77m  $26.01m
18             Chris Paul  HOU  $24.60m    $nanm
19          C.J. McCollum  POR  $23.96m  $25.76m
20           Bradley Beal  WAS  $23.78m  $25.43m
21          Anthony Davis  NOP  $23.78m  $25.43m
22         Andre Drummond  DET  $23.78m  $25.43m
23       Hassan Whiteside  MIA  $23.78m  $25.43m
24          Dwight Howard  CHO  $23.50m  $23.82m
25       Chandler Parsons  MEM  $23.11m  $24.11m
26        Harrison Barnes  DAL  $23.11m  $24.11m
27            J.J. Redick  PHI  $23.00m    $nanm
28             Marc Gasol  MEM  $22.64m  $24.12m
29             Kevin Love  CLE  $22.64m  $24.12m
30            Brook Lopez  LAL  $22.64m    $nanm
..                    ...  ...      ...      ...
553  James Michael McAdoo  PHI   $0.05m    $nanm
554           Nigel Hayes  NYK   $0.05m    $nanm
555           Jalen Moore  MIL   $0.05m    $nanm
556           Gary Payton  MIL   $0.05m    $nanm
557         Matt Williams  MIA   $0.05m    $nanm
558          Vince Hunter  MEM   $0.05m    $nanm
559           Vander Blue  LAL   $0.05m    $nanm
560          V.J. Beachem  LAL   $0.05m    $nanm
561         Briante Weber  LAL   $0.05m    $nanm
562          Jamil Wilson  LAC   $0.05m    $nanm
563         Briante Weber  HOU   $0.05m    $nanm
564          Luis Montero  DET   $0.05m    $nanm
565          Gian Clavell  DAL   $0.05m    $nanm
566    Antonius Cleveland  DAL   $0.05m    $nanm
567         Diamond Stone  CHI   $0.05m    $nanm
568       Yakuba Ouattara  BRK   $0.05m    $nanm
569          Jeremy Evans  ATL   $0.05m    $nanm
570           Nigel Hayes  LAL   $0.05m    $nanm
571   Xavier Rathan-Mayes  MEM   $0.05m    $nanm
572   Trey McKinney-Jones  IND   $0.05m    $nanm
573         Le'Bryan Nash  HOU   $0.05m    $nanm
574         Jameel Warney  DAL   $0.05m    $nanm
575       Marcus Thornton  CLE   $0.05m    $nanm
576       DeAndre Liggins  ATL   $0.03m    $nanm
577            Quinn Cook  NOP   $0.03m    $nanm
578          Axel Toupane  NOP   $0.03m    $nanm
579         Chris Johnson  HOU   $0.03m    $nanm
580            Beno Udrih  DET   $0.03m    $nanm
581         Joel Bolomboy  MIL   $0.02m    $nanm
582          Jarell Eddie  CHI   $0.02m    $nanm

[582 rows x 4 columns]

In [60]:
df['diff'] = df['2018-19'] - df['2017-18']

In [61]:
df

                   Player   Tm  2017-18  2018-19    diff
Rk
1           Stephen Curry  GSW  $34.68m  $37.46m  $2.77m
2            LeBron James  CLE  $33.29m  $35.61m  $2.32m
3            Paul Millsap  DEN  $31.27m  $29.73m $-1.54m
4          Gordon Hayward  BOS  $29.73m  $31.21m  $1.49m
5           Blake Griffin  DET  $29.51m  $31.87m  $2.36m
6              Kyle Lowry  TOR  $28.70m  $31.00m  $2.30m
7       Russell Westbrook  OKC  $28.53m  $35.35m  $6.82m
8             Mike Conley  MEM  $28.53m  $30.52m  $1.99m
9            James Harden  HOU  $28.30m  $30.43m  $2.13m
10          DeMar DeRozan  TOR  $27.74m  $27.74m  $0.00m
11             Al Horford  BOS  $27.73m  $28.93m  $1.19m
12        Carmelo Anthony  OKC  $26.24m  $27.93m  $1.68m
13         Damian Lillard  POR  $26.15m  $27.98m  $1.82m
14           Jrue Holiday  NOP  $25.69m  $26.13m  $0.44m
15             Chris Bosh  MIA  $25.29m  $26.84m  $1.55m
16           Kevin Durant  GSW  $25.00m  $26.25m  $1.25m
17            Otto Porter  WAS  $24.77m  $26.01m  $1.24m
18             Chris Paul  HOU  $24.60m    $nanm   $nanm
19          C.J. McCollum  POR  $23.96m  $25.76m  $1.80m
20           Bradley Beal  WAS  $23.78m  $25.43m  $1.66m
21          Anthony Davis  NOP  $23.78m  $25.43m  $1.66m
22         Andre Drummond  DET  $23.78m  $25.43m  $1.66m
23       Hassan Whiteside  MIA  $23.78m  $25.43m  $1.66m
24          Dwight Howard  CHO  $23.50m  $23.82m  $0.32m
25       Chandler Parsons  MEM  $23.11m  $24.11m  $1.00m
26        Harrison Barnes  DAL  $23.11m  $24.11m  $1.00m
27            J.J. Redick  PHI  $23.00m    $nanm   $nanm
28             Marc Gasol  MEM  $22.64m  $24.12m  $1.48m
29             Kevin Love  CLE  $22.64m  $24.12m  $1.48m
30            Brook Lopez  LAL  $22.64m    $nanm   $nanm
..                    ...  ...      ...      ...     ...
553  James Michael McAdoo  PHI   $0.05m    $nanm   $nanm
554           Nigel Hayes  NYK   $0.05m    $nanm   $nanm
555           Jalen Moore  MIL   $0.05m    $nanm   $nanm
556           Gary Payton  MIL   $0.05m    $nanm   $nanm
557         Matt Williams  MIA   $0.05m    $nanm   $nanm
558          Vince Hunter  MEM   $0.05m    $nanm   $nanm
559           Vander Blue  LAL   $0.05m    $nanm   $nanm
560          V.J. Beachem  LAL   $0.05m    $nanm   $nanm
561         Briante Weber  LAL   $0.05m    $nanm   $nanm
562          Jamil Wilson  LAC   $0.05m    $nanm   $nanm
563         Briante Weber  HOU   $0.05m    $nanm   $nanm
564          Luis Montero  DET   $0.05m    $nanm   $nanm
565          Gian Clavell  DAL   $0.05m    $nanm   $nanm
566    Antonius Cleveland  DAL   $0.05m    $nanm   $nanm
567         Diamond Stone  CHI   $0.05m    $nanm   $nanm
568       Yakuba Ouattara  BRK   $0.05m    $nanm   $nanm
569          Jeremy Evans  ATL   $0.05m    $nanm   $nanm
570           Nigel Hayes  LAL   $0.05m    $nanm   $nanm
571   Xavier Rathan-Mayes  MEM   $0.05m    $nanm   $nanm
572   Trey McKinney-Jones  IND   $0.05m    $nanm   $nanm
573         Le'Bryan Nash  HOU   $0.05m    $nanm   $nanm
574         Jameel Warney  DAL   $0.05m    $nanm   $nanm
575       Marcus Thornton  CLE   $0.05m    $nanm   $nanm
576       DeAndre Liggins  ATL   $0.03m    $nanm   $nanm
577            Quinn Cook  NOP   $0.03m    $nanm   $nanm
578          Axel Toupane  NOP   $0.03m    $nanm   $nanm
579         Chris Johnson  HOU   $0.03m    $nanm   $nanm
580            Beno Udrih  DET   $0.03m    $nanm   $nanm
581         Joel Bolomboy  MIL   $0.02m    $nanm   $nanm
582          Jarell Eddie  CHI   $0.02m    $nanm   $nanm

[582 rows x 5 columns]